@attribute [Route(Routes.EditUserProfile)]
@attribute [Authorize(Roles = "User")]

<div class="my-editProfile">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                @if (isErrorMessageShown)
                {
                    <div class="text-center error-message py-2">Bạn cần điền tất cả thông tin dưới đây để hoàn thiện thông tin</div>
                }
                <h1 class="editProfile__title my-3">Chỉnh sửa <span>thông tin cá nhân</span></h1>
                <div class="editProfile__logo text-center my-5">
                    <img src="img/RelatedActivities/2nd-activity.png" alt="">
                </div>
                <EditForm Model="@user" OnValidSubmit="HandleSubmit" OnInvalidSubmit="HandleInvalidSubmit" class="editProfile__form">
                    <DataAnnotationsValidator />

                    <div class="row form-item">
                        <p class="col-3 form-text">Họ và tên <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@user.FullName" class="form-control form-control--disable" disabled="true" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Khóa <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@users.SchoolYear" class="form-control form-control--disable" disabled="true" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Lớp <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@users.Class" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Khoa <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <div class="dropdown">
                                <span class="material-icons-outlined"> arrow_drop_down </span>
                                <input class="form-control my-form-department" readonly="readonly" placeholder="@departmentChoosenValue" data-bs-toggle="dropdown" />
                                <ul class="dropdown-menu">
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        int id = i;
                                        <li @onclick="()=>ChooseDepartmentValue(id)">@nameDepartmentValue @id</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Mã số sinh viên <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@user.StudentId" class="form-control form-control--disable" disabled="true" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Ngày sinh <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputDate @bind-Value="@user.Birthday" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Email UEH <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@user.UserName" class="form-control form-control--disable" disabled="true" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Email nhận thông báo <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@user.Email" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Điện thoại <span>(*)</span></p>
                        <div class="col-9 px-0">
                            <InputText @bind-Value="@user.PhoneNumber" class="form-control" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Địa chỉ <span>(*)</span></p>
                        <div class="col-9 d-flex flex-row flex-wrap flex-xl-nowrap" style="padding:0">
                            <VMS.Pages.Organization.Activities.CascadingAddressPicker />
                            <InputText @bind-Value="@users.Address" class="form-control ms-xl-2 my-address-textbox" style="width:auto" placeholder="Nhập số nhà, tên đường" />
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Lĩnh vực <span>(*)</span></p>
                        <div class="col-9 form-field ">
                            <div class="d-flex">
                                <div class=" owl-carousel owl-theme editProfile__carousel">
                                    @foreach (var item in choosenAreas)
                                    {
                                        <div class="form-field-item item">
                                            <i class="material-icons">@item.Icon</i>
                                            <span>@item.Name</span>
                                        </div>
                                    }
                                </div>
                                <div class="form-field-item ms-auto item-add">
                                    <i class="material-icons-outlined icon-add" @onclick="ShowAreasModal">add</i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Kỹ năng <span>(*)</span></p>
                        <div class="col-9 px-0 position-relative">
                            <Typeahead SearchMethod="SearchSkills"
                                       PlaceHolderText="Lựa chọn kỹ năng"
                                       @bind-Values="user.Skills"
                                       EnablePopup="true"
                                       ShowPopUp="ShowSkillsPopup"
                                       class="col-5">
                                <SelectedTemplate Context="target">
                                    @target.Name
                                </SelectedTemplate>
                                <ResultTemplate Context="target">
                                    @target.Name
                                </ResultTemplate>
                            </Typeahead>
                            <div @onclick="ShowSkillsPopup" class="typeahead__input-icon position-absolute">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="align-self-center typeahead__down-arrow">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                        <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="row form-item">
                        <p class="col-3 form-text">Châm ngôn</p>
                        <div class="col-9 position-relative px-0">
                            <div class="col-8 px-0 w-100">
                                <InputTextareaOnInput MaxLength="@maxWord" @bind-Value="user.Introduction" class="form-input mx-0 form-control" />
                                <p class="countWord text-end mb-0">@CountWord()/@maxWord</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 ms-auto from__btn">
                            <button class="btn from__btn-cancel">Hủy</button>
                            <button type="submit" class="btn from__btn-submit ms-5 ">Hoàn tất</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<Spinner IsLoading="isLoading" />

@code {
   
}