<div class="filter-bar mb-4">
    <div class="filter-item position-relative">
        <input @onclick="ToggleYearDropdown" @onfocusout="CloseCityDropdown" class="popup-btn @(isYearGrey ? "bg-grey" : "")" placeholder="@yearChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isYearShow ? "block" : "none")">
            <ul>
                @if (courses is not null)
                {
                    @foreach (var course in courses)
                    {
                        <li @onmousedown="() => ChooseYearValue(course)">@course</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <input @onclick="ToggleFacultyDropdown" @onfocusout="CloseFacultyDropdown" class="popup-btn @(isFacultyGrey ? "bg-grey" : "")" placeholder="@facultyChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isFacultyShow ? "block" : "none")">
            <ul>
                @if (faculties is not null)
                {
                    @foreach (var faculty in faculties)
                    {
                        <li @onmousedown="() => ChooseFacultyValue(faculty.Name)">@faculty.Name</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowAreasPopupAsync" class="popup-btn @(Filter.Areas.Count != 0 ? "bg-grey" : "")">Lĩnh vực</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowSkillsPopupAsync" class="popup-btn @(Filter.Skills.Count != 0? "bg-grey" : "")">Kỹ năng</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-city position-relative">
        <input @onclick="ToggleRankDropdown" @onfocusout="CloseRankDropdown" class="popup-btn @(isRankGrey ? "bg-grey" : "")" placeholder="@rankChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isRankShow ? "block" : "none")">
            <ul>
                @if (Ranks is not null)
                {
                    @foreach (var rank in Ranks)
                    {
                        <li @onmousedown="() => ChooseRanklValue(rank)">@rank.Rank</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-city position-relative">
        <input @onclick="ToggleLabelDropdown" @onfocusout="CloseLabelDropdown" class="popup-btn @(isLabelGrey ? "bg-grey" : "")" placeholder="@labelChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isLabelShow ? "block" : "none")">
            <ul>
                @if (Labels is not null)
                {
                    @foreach (var label in Labels)
                    {
                        <li @onmousedown="() => ChooseLabellValue(label)">@label.Label</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>
    <div class="d-flex">
        <button @onclick="UpdateFilterValueAsync" class="filter-btn">Lọc</button>
        <button @onclick="ClearFilterAsync" type="button" class="clear-filter-btn">Xóa lọc</button>
    </div>
</div>

@code {
}