@implements IDisposable
@implements IAsyncDisposable

<div class="position-relative my-uploadImg">
    <InputFile id="@_fileUploadId"
               OnChange="OnInputFileChange"
               class="w-100 uploadImg__input"
               accept="@AcceptPattern" />
    <div class="d-flex align-items-center justify-content-center">
        <i class="material-icons">
            cloud_upload
        </i>
        <span class="d-block">@_prompt</span>
        @if (ShowPreview)
        {
            <img @ref="previewImg" class="preview-img" src="@PreviewImgSrc" alt="@_previewImgAltText" />
        }
    </div>
</div>