@inject IJSRuntime JsRuntime

<div class="container__list-result">
    @*<SearchResult />*@
    <div class="container-member">
        @if (pagedResult != null && pagedResult.TotalItems != 0)
        {
            @foreach (var item in pagedResult.Items)
            {
                <div class="activity-row d-flex">
                    <div class="activity-space"></div>
                    <div class="activity-container">
                        <div class="activity__img">
                            <img src="@item.Activity.Banner" alt="Avatar">
                        </div>
                        <div class="activity__content">
                            <div class="activity__content__title">
                                <p class="member-name1">
                                    <a href="@Routes.ActivityInfo/@item.Id">
                                        @item.Activity.Name
                                    </a>
                                </p>
                            </div>
                            <div class="activity__content__icon d-flex">
                                <div class="stars-rating">
                                    <VMS.Pages.Organization.RatingPage.Stars StarRating="@item.Rating"
                                                                     StarRatingChanged="async (e) => await UpdateRatingAsync(e, item)" />
                                </div>
                                <div class="org-pic d-flex">
                                    <div class="org-pic__icon d-flex">
                                        <span class="material-icons-outlined">
                                            public
                                        </span>
                                    </div>
                                    <div class="org-pic__name">
                                        <a href="@Routes.OrgProfile/@item.Organizer.Id">
                                            @item.Organizer.FullName
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity__icon d-flex">
                            <button class="activity__icon__report" @onclick="@(()=>ShowReportPopUp(item.Activity.Id))" id="popup-report_icon">
                                @*Pop-up để report*@
                                <span id="member-report_icon" class="material-icons">report_problem</span>
                            </button>
                            <button class="activity__icon__comment" @onclick="@(()=>ShowCommentPopUpAsync(item))" id="popup-comment_icon">
                                @*Pop-up để comment*@
                                <span id="member-comment_icon" class="material-icons">comment</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="pagination-container d-flex">
            <Pager CurrentPage="@pagedResult.PageIndex"
                   PageCount="@pagedResult.TotalPages"
                   OnPageChanged="@(async (e)=> { page = e; await HandlePageChangedAsync(); })" />
        </div>
    </div>
</div>

@code {
}