<div class="filter-container">
    <div class="act-title">
        Lọc hoạt động
    </div>
    <form class="act-filter d-flex" action="" method="get">
        <div class="select-filter">
            <div class="select-container">
                <div class="act-filter__select" @onclick="Showlist1">
                    <span class="act-filter__select-default">@semesterDefault</span>
                    <span id="act-filter__select-icon" class="material-icons-outlined">expand_more</span>
                </div>
                <div class="act-filter__list @Display1">
                    @foreach (var item in semesters)
                    {
                        <span class="act-filter__list-item" @onclick="() => ChooseSemester(item)">@item</span>
                    }
                </div>
            </div>
            <div class="select-container">
                <div class="act-filter__select" @onclick="Showlist2">
                    <span class="act-filter__select-default">@facultyDefault</span>
                    <span id="act-filter__select-icon" class="material-icons-outlined">expand_more</span>
                </div>
                <div class="act-filter__list @Display2">
                    @foreach (var item in faculties)
                    {
                        <span class="act-filter__list-item" @onclick="() => ChooseFaculty(item)">@item.Name</span>
                    }
                </div>
            </div>
        </div>
        <div class="act-filter__radio d-flex">
            <div class="act-filter__radio-1 d-flex align-items-center">
                <input class="radio-1" type="radio" id="rate" name="fav_language" value="rate">
                <label class="label-1" for="rate">Chưa đánh giá</label><br>
            </div>
            <div class="act-filter__radio-2 d-flex align-items-center">
                <input class="radio-2" type="radio" id="rated" name="fav_language" value="rated">
                <label class="label-2" for="rated">Đã đánh giá</label><br>
            </div>
        </div>
        <div class="act-filter__btn-container">
            <button class="act-filter__btn --filter">Lọc</button>
            <button class="act-filter__btn --del">Xóa lọc</button>
        </div>
    </form>
</div>
@code {

    // Code để mô tả cách filter hoạt động
    private string Display1 = "d-none";
    private string Display2 = "d-none";

    private void Showlist1()
    {
        if (Display1 == "d-none")
        {
            Display1 = "d-flex";
        }
        else
        {
            Display1 = "d-none";
        }
    }

    private void Showlist2()
    {
        if (Display2 == "d-none")
        {
            Display2 = "d-flex";
        }
        else
        {
            Display2 = "d-none";
        }
    }

}
