<div class="filter-container">
    <div class="row act-filter d-flex">
        <div class="col-12 col-lg-6 col-xl-5 col-xxl-5 select-filter">
            <div class="select-container">
                <div class="act-filter__select" @onclick="Showlist1">
                    <span class="act-filter__select-default">@semesterDefault</span>
                    <span id="act-filter__select-icon" class="material-icons-outlined">expand_more</span>
                </div>
                <div class="act-filter__list-1 @Display1">
                    @foreach (var item in semesters.Keys)
                    {
                        <span class="act-filter__list-item" @onclick="() => ChooseSemester(item)">@semesters[item]</span>
                    }
                </div>
            </div>
            <div class="select-container">
                <div class="act-filter__select" @onclick="Showlist2">
                    <span class="act-filter__select-default">@orgDefault</span>
                    <span id="act-filter__select-icon" class="material-icons-outlined">expand_more</span>
                </div>
                <div class="act-filter__list-2 @Display2">
                    @if (organizers is not null)
                    {
                        @foreach (var org in organizers)
                        {
                            <span class="act-filter__list-item" @onclick="() => ChooseOrg(org)">@org.FullName</span>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 act-filter__radio d-flex">
            <div class="act-filter__radio-1 d-flex align-items-center  ms-3 me-5 pe-1">

                <label class="d-flex align-items-center" for="rate">
                    @if (filter.IsRated.HasValue && !filter.IsRated.Value)
                    {
                        <input @onclick="async () => await CheckOrderAsync(false)" type="radio" id="rate"  name="filter" checked />
                    }
                    else
                    {
                        <input @onclick="async () => await CheckOrderAsync(false)" type="radio" id="rate"  name="filter"/>
                    }                    
                <span>Chưa đánh giá</span>
                </label>
            </div>
            <div class="act-filter__radio-2 d-flex align-items-center">
                <label class="d-flex align-items-center" for="rated">
                    @if (filter.IsRated.HasValue && filter.IsRated.Value)
                    {
                    <input type="radio" id="rated" name="fav_language" @onclick="async () => await CheckOrderAsync(true)" checked>
                    }
                    else
                    {
                        <input type="radio" id="rated" name="fav_language" @onclick="async () => await CheckOrderAsync(true)">
                    }
                    <span>Đã đánh giá</span>
                </label>
            </div>
        </div>
        <div class="col-12 col-xl-2 col-xxl-3 act-filter__btn-container ps-5">
            <button class="act-filter__btn --filter me-2 filter-btn" @onclick="UpdateFilterValueAsync">Lọc</button>
            <button class="act-filter__btn --del clear-filter-btn" @onclick="ClearFilterAsync">Xóa lọc</button>      
        </div>
    </div>
</div>
@code {

    // Code để mô tả cách filter hoạt động
    private string Display1 = "d-none";
    private string Display2 = "d-none";

    private void Showlist1()
    {
        if (Display1 == "d-none")
        {
            Display1 = "d-flex";
        }
        else
        {
            Display1 = "d-none";
        }
    }

    private void Showlist2()
    {
        if (Display2 == "d-none")
        {
            Display2 = "d-flex";
        }
        else
        {
            Display2 = "d-none";
        }
    }

}
