@inject IJSRuntime JS;

<Spinner IsLoading="isLoading" />

<div class="row">
    <div class="text-result mb-5">Có <span>@data?.TotalItems</span> hoạt động tương ứng với kết quả tìm kiếm của bạn.</div>
</div>
@if (data != null && data.TotalItems != 0)
{
    @foreach (var item in data.Items)
    {
        <div class="org-card" style="z-index:@(item.Id == dropdownId ? "2" : "1"); display:@(item.IsDeleted ? "none" : "flex"); opacity: @(!item.IsClosed || item.Id == dropdownId ? 1 : 0.75)">
            <i @onclick="() => ChangeDropdownState(item.Id)" class="material-icons position-absolute">
                more_horiz
            </i>
            <ul class="act-menu p-2 position-absolute @(item.Id == dropdownId ? "d-block" : "d-none")">
                <a href="@Routes.EditActivity/@item.Id" class="edit pb-2 text-decoration-none">Chỉnh sửa</a>

                <li @onclick="(() => ShowDeleteModalAsync(item))" class="delete pb-2">Xóa</li>

                @if (item.CloseDate >= DateTime.Now.Date)
                {
                    <li @onclick="(() => ShowCloseModalAsync(item))" class="close pb-2">@(item.IsClosed ? "Mở" : "Đóng") hoạt động</li>
                }
            </ul>
            <div class="org-card__img">
                <img src="@item.Banner" alt="photo">
            </div>
            <div class="org-card__info position-relative">
                <div class="org-card__info__title">
                    <a href="@Routes.ActivityInfo/@item.Id" class="lmtext-2 me-3">@item.Name</a>
                </div>
                <div class="org-card__info__rate">
                    <Star Rating="@item.Rating" />
                </div>
                <div class="org-card__info__desc">
                    @((MarkupString)item.Description)
                </div>
                <div class="org-card__info__date d-flex flex-column mb-1">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex mb-1 align-items-center">
                            <span class="material-icons-outlined me-lg-2 me-1 my-icon">
                                assignment
                            </span>
                            <span class="icon-tooltip">Hạn đăng ký</span>
                            <span>@item.CloseDate.ToString("dd/MM/yyyy")</span>
                        </div>
                        @if (item.IsDay)
                        {
                            <div class="col-6 d-flex mb-1 align-items-center div-volunteer">
                                <i class="material-icons-outlined icon-check">
                                    check_circle
                                </i>
                                <span class="ms-lg-2 ms-1">Số ngày tình nguyện: @item.NumberOfDays</span>
                            </div>
                        }
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex mb-1 align-items-center">
                            <span class="material-icons-outlined me-lg-2 me-1 my-icon">
                                today
                            </span>
                            <span class="icon-tooltip">Ngày diễn ra</span>
                            <span>@item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</span>
                        </div>
                        @if (item.IsPoint)
                        {
                            <div class="col-6 d-flex mb-1 align-items-center div-volunteer">
                                <i class="material-icons-outlined icon-check">
                                    check_circle
                                </i>
                                <span class="ms-lg-2 ms-1">Điểm rèn luyện</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="org-card__footer w-100 d-flex position-absolute">
                    <div class="org-card__member py-1 d-flex px-0 align-items-center">
                        <span class="org-card__member__icon material-icons me-1 pe-none">
                            person
                        </span>
                        <span class="org-card__member__text">@item.MemberQuantity</span>
                    </div>
                    <a href="@Routes.VolunteersList/@item.Id" class="org-card__btn-list card-btn d-flex justify-content-center align-items-center">
                        Xem danh sách
                    </a>
                    @if (DateTime.Now.Date > item.EndDate)
                    {
                        <div class="org-card__cbb-rate card-btn d-flex justify-content-around px-1 align-items-center ms-1 position-relative">
                            <a href="@Routes.Rating/@item.Id" class="org-card__cbb-rate__title">Đánh giá</a>
                        </div>
                    }
                </div>
            </div>
            @if ((item.IsClosed || item.CloseDate < DateTime.Now.Date) && (DateTime.Now.Date <= item.EndDate))
            {
                <div class="org-card__noti d-flex align-items-center position-absolute">
                    <span class="material-icons-outlined">
                        error
                    </span>
                    <i>Đã đóng đăng ký</i>
                </div>
            }
        </div>
    }
}

<div class="pagination-org">
    <Pager CurrentPage="@data.PageIndex"
           PageCount="@data.TotalPages"
           OnPageChanged="@(async (e)=> { page = e; await HandlePageChangedAsync(true); })" />
</div>

@code {
    private bool HaftStar(double rate, int star)
    {
        if (rate - star >= 0.5 && rate - star < 1)
        {
            return true;
        }
        return false;
    }
}
