@inject IJSRuntime JsRuntime
<section class="my-container mb-5">
    <h3 class="result-heading mt-4 mb-3">Có <span>@(pagedResult is null ? "0" : pagedResult.TotalItems) tổ chức</span> ứng với kết quả tìm kiếm của bạn</h3>
    @if (pagedResult != null && pagedResult.TotalItems != 0)
    {
        @foreach (var item in pagedResult.Items)
        {
            <div class="org-item d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img class="org-item__img me-2" src="@item.Avatar" alt="@item.FullName" />
                    <div class="org-item__name-group ms-4">
                        <a class="org-item__name lmtext-2" href="@(IsUserResult ? Routes.AdminVolunteerProfile : (IsOrgResult ? Routes.AdminOrganizationProfile : Routes.OrgProfile))/@item.Id">@item.FullName</a>
                        <p class="m-0 @(HaveLevel ? "d-block" : "d-none")">@item.Course</p>
                        <p class="m-0 @(IsOrgResult? "d-block" : "d-none")">
                            Đã tổ chức <span style="@(IsUsedForAdmin ? "cursor: pointer;" : "")"
                                     @onclick=" (()=> ShowHeldActivitiesAsync())">@item.Activities.Count</span> hoạt động
                        </p>
                        <p class="m-0 @(IsUserResult ? "d-block" : "d-none")">@item.Course - Lớp @item.Class</p>
                    </div>
                </div>
                <div class="org-item__rate-group d-flex align-items-center @(IsUsedForAdmin ? "me-3" : "me-5")">
                    <div class="seperate-line"></div>
                    <span class="me-4">#@item.Rank</span>
                    <div>
                        <p class="m-0 d-flex align-items-center">
                            @item.AverageRating
                            <Star Rating="item.AverageRating" />
                        </p>
                        <p class="m-0 @(IsUserResult ? "d-none" : "")">
                            @if (item.QuantityRating >= 1000)
                            {
                                var a = Math.Round((double)item.QuantityRating / 1000, 1, MidpointRounding.ToZero);
                                @(a + "N")
                            }
                            else
                            {
                                @item.QuantityRating
                            }
                            xếp hạng
                        </p>
                        <p class="m-0 @(IsUserResult ? "d-block" : "d-none")">
                            / @(item.QuantityRating) đánh giá
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</section>

<Pager CurrentPage="@pagedResult.PageIndex"
       PageCount="@pagedResult.TotalPages"
       OnPageChanged="@(async (e)=> { page = e; await HandlePageChangedAsync(); })" />

@code {
    private bool isYellow;
    private bool isHalf;

    [Parameter]
    public bool HaveLevel { get; set; }

    [Parameter]
    public bool IsOrgResult { get; set; }

    [Parameter]
    public bool IsUserResult { get; set; }

    [Parameter]
    public bool IsUsedForAdmin { get; set; }
}
