<div class="my-modal">
    <div class="modal__content">
        <div class=" modal__create">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <h3 class="text-center">Tạo tài khoản <span>tổ chức</span></h3>
            <EditForm Model="account" OnValidSubmit="OnValidSubmitAsync">

                <DataAnnotationsValidator />

                <div class="d-flex align-items-center mb-20 ">
                    <p class="form__title form__title--level">Cấp <span>(*)</span>:</p>
                    <div class="position-relative">
                        <input @onclick="ToggLeLevelDropdown" @onfocusout="CloseLevelDropdown" class="popup-btn form-control" value="@account.Course" readonly />
                        <div @onclick:preventDefault class="my-dropdown" style="display: @(isLevelShow ? "block" : "none")">
                            <ul>
                                @foreach (var level in levels)
                                {
                                    <li @onmousedown="() => ChooseLevelValue(level)">@level</li>
                                }
                            </ul>
                        </div>
                        <span class="material-icons-outlined position-absolute popup-btn-icon">
                            expand_more
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-20">
                    <p class="form__title form__title--name">Tên tổ chức <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@account.FullName" class="form-control" />
                    </div>
                </div>

                <div class="d-flex align-items-center mb-20">
                    <p class="form__title form__title--email">Email <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@account.Email" class="form-control" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <p class="form__title form__title-password">Mật khẩu <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@account.Password" type="password" class="form-control" />
                    </div>
                </div>
                <div class="from__btn text-center">
                    <button @onclick="CloseModalAsync" class="btn btn-cancel">Hủy</button>
                    <button type="submit" class="btn btn-create">Tạo tài khoản</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
}
