@using VMS.Application.ViewModels;

<div class="my-modal">
    <div class="modal__content">
        <div class="modal__edit">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <h3 class="text-center">Tạo tài khoản <span>Tình nguyện viên</span></h3>
            <EditForm Model="user">
                <DataAnnotationsValidator />
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--name">Họ và tên <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@user.FullName" class="form-control" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--id">MSSV<span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@user.Id" class="form-control" />
                    </div>
                    <p class="form__title form__title--course">Khóa<span>(*)</span>:</p>
                    <div class="position-relative">
                        <input @onclick="ToggCourseDropdown" @onfocusout="CloseLevelDropdown" class="popup-btn form-control" value="@courseChoosenValue" readonly />
                        <div @onclick:preventDefault class="my-dropdown" style="display: @(isCourseShow ? "d-block" : "d-none")">
                            <ul>
                                @if (Courses is not null)

                                {
                                    @foreach (var course in Courses)
                                    {
                                        <li @onmousedown="() => ChooseCourseValue(course )">@course.Course</li>
                                    }
                                }
                            </ul>
                        </div>
                        <span class="material-icons-outlined position-absolute popup-btn-icon">
                            expand_more
                        </span>
                    </div>

                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--email">Email UEH<span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@user.Email" class="form-control" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title-password">Mật khẩu <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@user.FullName" type="password" name="avd" class="form-control" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--passwordSp">Mật khẩu quản trị viên <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@user.FullName" type="password" name="avd" class="form-control" />
                    </div>
                </div>

                <div class="from__btn text-center">
                    <button @onclick="CloseModalAsync" class="btn btn-cancel">Hủy</button>
                    <button @onclick="ShowEditConfirm" type="submit" class="btn btn-create">Sửa tài khoản</button>
                </div>

            </EditForm>

        </div>
    </div>
</div>

@code {
    //Modal 
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
    }

    [CascadingParameter] public IModalService ModalConfirm { get; set; }

    private async Task ShowEditConfirm()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true,
        };
        await Modal.CloseAsync();
        await ModalConfirm.Show<EditConfirm> ("", options).Result;
    }

    //popup drop-down

    private CreateUserProfileViewModel user = new();

    private string courseChoosenValue = "";
    private bool isCourseShow;
    private bool isCourseGrey = false;

    public class fakeCourse
    {
        public string Course { get; set; }
    }
    private List<fakeCourse> Courses = new()
    {
        new fakeCourse() { Course = "K44" },
        new fakeCourse() { Course = "K45" },
        new fakeCourse() { Course = "K46" },
        new fakeCourse() { Course = "K47" },
    };
    private void ChooseCourseValue(fakeCourse course)
    {
        courseChoosenValue = course.Course;
        isCourseGrey = true;
    }
    private void ToggCourseDropdown()
    {
        isCourseShow = !isCourseShow;
    }
    private void CloseLevelDropdown()
    {
        isCourseShow = false;
    }

}
