@using VMS.Application.ViewModels;

<div class="my-modal">
    <div class="modal__content">
        <div class="modal__edit @(isShowConfirm||isSuccess ? "d-none" : "d-block")">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <h3 class="text-center">Sửa tài khoản <span>tổ chức</span></h3>
            <EditForm Model="org">
                <DataAnnotationsValidator />
                <div class="d-flex align-items-center mb-4">
                    <p class="form__title form__title--level">Cấp <span>(*)</span>:</p>
                    <div class="position-relative">
                        <input @onclick="ToggLeLevelDropdown" @onfocusout="CloseLevelDropdown" class="popup-btn form-control @(isLevelGrey? "bg-grey" : "")" value="@levelChoosenValue" readonly />
                        <div @onclick:preventDefault class="my-dropdown" style="display: @(isLevelShow ? "block" : "none")">
                            <ul>
                                @if (Levels is not null)

                                {
                                    @foreach (var level in Levels)
                                    {
                                        <li @onmousedown="() => ChooseLevelValue(level)">@level.Level</li>
                                    }
                                }
                            </ul>
                        </div>
                        <span class="material-icons-outlined position-absolute popup-btn-icon">
                            expand_more
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--name">Tên tổ chức <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@org.FullName" class="form-control" />
                    </div>
                </div>

                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--email">Email <span>(*)</span>:</p>
                    <div class="">
                        <InputText @bind-Value="@org.Email" class="form-control" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--password">Mật khẩu <span>(*)</span>:</p>
                    <div class="">
                        <input class="form-control" type="password" />
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <p class="form__title form__title--passwordSp">Mật khẩu quản trị viên <span>(*)</span>:</p>
                    <div class="">
                        <input class="form-control" type="password" />
                    </div>
                </div>

                <div class="from__btn text-center">
                    <button @onclick="CloseModalAsync" class="btn btn-cancel">Hủy</button>
                    <button @onclick="ShowEditConfirm" type="submit" class="btn btn-create">Sửa tài khoản</button>
                </div>

            </EditForm>

        </div>

        <div class="modal__confirm @(isShowConfirm ? "d-block" : "d-none")">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div>
                <h3 class="text-center mb-3">Bạn có chắc chắn muốn <span>sửa tài khoản</span> này không? </h3>
                <div class="text-end">
                    <button @onclick="CloseModalAsync" class="btn btn-cancel">Hủy</button>
                    <button @onclick="ShowEditSuccess" class="btn btn-confirm">Chắc chắn</button>
                </div>
            </div>
        </div>
        <div class="modal__success @(isSuccess ? "d-block" : "d-none")">
            <div @onclick="CloseModalAsync" class="icon-close">
                <span class="material-icons">
                    close
                </span>
            </div>
            <h3 class="text-center mb-0">Bạn đã <span>sửa tài khoản</span> thành công </h3>
        </div>

    </div>
</div>

@code {
    // Modal
    private bool isSuccess = false;
    private bool isShowConfirm = false;

    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    private async Task CloseModalAsync()
    {
        await Modal.CloseAsync();
    }
    private async Task ShowEditSuccess()
    {
        isShowConfirm = false;
        isSuccess = true;
    }

    private async Task ShowEditConfirm()
    {
        isShowConfirm = true;
    }
    
    // popup drop-down
    private CreateOrgProfileViewModel org = new();

    private string levelChoosenValue = "Cấp";
    private bool isLevelShow;
    private bool isLevelGrey = false;

    public class fakeLevel
    {
        public string Level { get; set; }
    }
    private List<fakeLevel> Levels = new()
    {
        new fakeLevel() { Level = "Ban Chuyên môn" },
        new fakeLevel() { Level = "Khoa/Viện/KTX" },
        new fakeLevel() { Level = "CLB/Đội/Nhóm" },
    };
    private void ChooseLevelValue(fakeLevel level)
    {
        levelChoosenValue = level.Level;
        isLevelGrey = true;
    }
    private void ToggLeLevelDropdown()
    {
        isLevelShow = !isLevelShow;
    }

    private void CloseLevelDropdown()
    {
        isLevelShow = false;
    }

}
