@using VMS.Application.ViewModels;
<h1 class="my-5 pb-3">Quản lý tài khoản <span>@Tilte</span></h1>
<div class="d-flex justify-content-between my-managementTool">
    <div class="managementTool__filter">
        <div class="d-flex align-items-center">
            <div class="position-relative managementTool__level @(IsAccountOrg ? "d-block" : "d-none")">
                <input @onclick="ToggLeLevelDropdown" @onfocusout="CloseLevelDropdown" class="popup-btn form-control @(isLevelGrey? "bg-grey" : "")" placeholder="@levelChoosenValue" readonly />
                <div @onclick:preventDefault class="my-dropdown" style="display: @(isLevelShow ? "block" : "none")">
                    <ul>
                        @foreach (var level in levels)
                        {
                            <li @onmousedown="() => ChooseLevelValue(level)">@level</li>
                        }
                    </ul>
                </div>
                <span class="material-icons-outlined position-absolute popup-btn-icon">
                    expand_more
                </span>
            </div>

            <div class="position-relative managementTool__course  @(IsAccountUser ? "d-block" : "d-none")">
                <input @onclick="ToggCourseDropdown" @onfocusout="CloseCourseDropdown" class="popup-btn form-control" placeholder="@(!string.IsNullOrEmpty(filter.Course) ? filter.Course : "Khóa")" readonly />
                <div @onclick:preventDefault class="my-dropdown" style="display: @(isCourseShow ? "block" : "none")">
                    <ul>
                        @foreach (var course in courses)
                        {
                            <li @onmousedown="() => ChooseCourseValue(course)">@course</li>
                        }
                    </ul>
                </div>
                <span class="material-icons-outlined position-absolute popup-btn-icon">
                    expand_more
                </span>
            </div>

            <div class="ms-4 @(IsAccountAdminSp ? "d-none" : "d-block")">
                <button @onclick="OnClickFilterAsync" class="btn-filter btn">Lọc</button>
                <button @onclick="ClearFilterAsync" class="btn-delete-filter btn">Xóa lọc</button>
            </div>
        </div>
        <div class="d-flex align-items-center managementTool__sort mt-4 ">
            <p class="mb-0">Sắp xếp theo ngày tạo</p>

            <div class="mx-5 d-flex align-items-center ">
                <input @onclick="@(async () => await OnClickOrderAsync(true))" type="radio" id="near" name="filter" class="me-2 " />

                <label for="near">Gần nhất</label>
            </div>
            <div class="d-flex align-items-center ">
                <input @onclick="@(async () => await OnClickOrderAsync(false))" type="radio" id="old" name="filter" class="me-2 input-radio cursor-pointer" />
                <label for="old">Cũ nhất</label>
            </div>
        </div>

    </div>

    <div class="managementTool__create dropdown">
        <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons-outlined icon-add">
                control_point
            </i>
            <span>Tạo tài khoản</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li @onclick="ShowCreateAcc" class="mb-2">Tạo một tài khoản</li>
            <li @onclick="ShowCreateAccounts">Tạo nhiều tài khoản</li>
        </ul>
    </div>
</div>


@code {

    [CascadingParameter] public IModalService Modal { get; set; }

    private async Task ShowCreateAccountOrg()
    {
        var options = new ModalOptions()
            {
                HideCloseButton = true,
                DisableBackgroundCancel = true,
                UseCustomLayout = true,
            };

        var result = await Modal.Show<CreateAccountOrg>("", options).Result;

    }

    private async Task ShowCreateAccountUser()
    {
        var options = new ModalOptions()
            {
                HideCloseButton = true,
                DisableBackgroundCancel = true,
                UseCustomLayout = true,
            };

        var result = await Modal.Show<CreateAccountUser>("", options).Result;

    }

    private async Task ShowCreateAccountAdminSp()
    {
        var options = new ModalOptions()
            {
                HideCloseButton = true,
                DisableBackgroundCancel = true,
                UseCustomLayout = true,
            };

        var result = await Modal.Show<CreateAccountAdminSp>("", options).Result;

    }

    private async Task ShowCreateAccounts()
    {
        var parameters = new ModalParameters();
        parameters.Add("Role", (IsAccountUser ? Role.User : IsAccountOrg ? Role.Organization : Role.Admin));

        var options = new ModalOptions()
            {
                HideCloseButton = true,
                DisableBackgroundCancel = true,
                UseCustomLayout = true,
            };

        var result = await Modal.Show<CreateAccounts>("", parameters, options).Result;
        isShowDropDownCreate = false;

    }
    private async Task ShowCreateAcc()
    {
        if (IsAccountOrg)
        {
            ShowCreateAccountOrg();
        }
        if (IsAccountUser)
        {
            ShowCreateAccountUser();
        }
        if (IsAccountAdminSp)
        {
            ShowCreateAccountAdminSp();
        }
        isShowDropDownCreate = false;
    }



    // filter Level
    private string levelChoosenValue = "Cấp";
    private bool isLevelShow;
    private bool isLevelGrey = false;

    private void ChooseLevelValue(string level)
    {
        levelChoosenValue = level;
        isLevelGrey = true;
    }

    private void ToggLeLevelDropdown()
    {
        isLevelShow = !isLevelShow;
    }

    private void CloseLevelDropdown()
    {
        isLevelShow = false;
    }

    // ClearFilter
    int IsCheckd = 0;
    private async Task ClearFilter()
    {
        levelChoosenValue = "Cấp";
        courseChoosenValue = "Khóa";
        IsCheckd = 0;
    }


    // dropdown-create
    private bool isShowDropDownCreate = false;
    private void ShowDropDownCreate()
    {
        isShowDropDownCreate = !isShowDropDownCreate;
    }

    //////////test
    ///

}


