@attribute [Route(Routes.CreateActivity)]

@using VMS.Domain.Models

@inject IJSRuntime JsRuntime

<div class="container-fluid mb-2">
    <div class="row">
        <EditForm Model="activity" class="col-11 col-xl-9 mx-auto mt-2">
            <ValidationSummary />
            <h1 class="text-center"><span>Tạo</span> hoạt động</h1>
            <div class="form-group mb-5">
                <div>Tiêu đề (*)</div>
                <InputText @bind-Value="activity.Name" class="form-control p-2" placeholder="Nhập tiêu đề" />
            </div>
            <div class="form-group mb-5">
                <div>Mô tả (*)</div>
                <TinyMCE.Blazor.Editor ApiKey="v439hmeezl4njsgskpyy5lvknmkunhs9aj28b01fyjtk7qfv" placeholder="Nhập mô tả" />
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Hình thức (*)</div>
                    <div class="col-5">
                        <InputRadioGroup @bind-Value="activity.IsVirtual">
                            <InputRadio Value="true" /> Virtual
                            <InputRadio Value="false" class="ms-5" /> Actual
                        </InputRadioGroup>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Đối tượng tham gia (*)</div>
                    <div class="col-8">
                        <Typeahead SearchMethod="SearchTargets"
                                   @bind-Values="activity.Targets"
                                   EnableDropDown="true"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target
                            </ResultTemplate>
                        </Typeahead>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Lĩnh vực (*)</div>
                    <div class="col-8">
                        <i class="choose-skills-icon" @onclick="ShowSkillsPopup">Chọn skills</i>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Địa điểm tham gia (*)</div>
                    <div class="col-8 d-flex flex-row flex-wrap flex-xl-nowrap">
                        <div class="filter-item position-relative">
                            <div @onclick="ToggleCityDropdown" class="popup-btn @(haveCityValue?"bg-grey":"")">@cityChoosenValue</div>
                            <div class="my-dropdown @(isCityShow ? "d-block" : "")">
                                <ul>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        int id = i;
                                        <li @onclick="() => ChooseCityValue(id)">@nameCityValue @(id + 1)</li>
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <div class="filter-item position-relative ms-2">
                            <div @onclick="ToggleCityDropdown" class="popup-btn @(haveCityValue?"bg-grey":"")">@cityChoosenValue</div>
                            <div class="my-dropdown @(isCityShow ? "d-block" : "")">
                                <ul>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        int id = i;
                                        <li @onclick="() => ChooseCityValue(id)">@nameCityValue @(id + 1)</li>
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <div class="filter-item position-relative ms-2">
                            <div @onclick="ToggleCityDropdown" class="popup-btn @(haveCityValue?"bg-grey":"")">@cityChoosenValue</div>
                            <div class="my-dropdown @(isCityShow ? "d-block" : "")">
                                <ul>
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        int id = i;
                                        <li @onclick="() => ChooseCityValue(id)">@nameCityValue @(id + 1)</li>
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <InputText @bind-Value="activity.Address" class="form-control mt-2 mt-xl-0 ms-xl-2" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Thời gian tham gia (*)</div>
                    <div class="col-8 d-flex flex-row">
                        <InputDate @bind-Value="activity.StartDate" class="form-control" style="width: 35%;" placeholder="Ngày bắt đầu" />
                        <InputDate @bind-Value="activity.EndDate" class="form-control ms-2" style="width: 35%;" placeholder="Ngày kết thúc" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-4">Kỹ năng (*)</div>
                    <div class="col-8 position-relative">
                        <Typeahead SearchMethod="SearchTargets"
                                   @bind-Values="activity.Targets"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target
                            </ResultTemplate>
                        </Typeahead>
                        <div @onclick="ShowSkillsPopup" class="blazored-typeahead__input-icon blazored-typeahead__input-icon--disabled position-absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="blazored-typeahead__down-arrow">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                    <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div>Yêu cầu (*)</div>
                <TinyMCE.Blazor.Editor ApiKey="v439hmeezl4njsgskpyy5lvknmkunhs9aj28b01fyjtk7qfv" placeholder="Nhập mô tả" />
            </div>
            <div class="form-group mb-5">
                <div>Sứ mệnh (*)</div>
                <TinyMCE.Blazor.Editor ApiKey="v439hmeezl4njsgskpyy5lvknmkunhs9aj28b01fyjtk7qfv" placeholder="Nhập mô tả" />
            </div>
            <div class="form-group mb-5">
                <div>Các nhiệm vụ tình nguyện sẽ tham gia (*)</div>
                <TinyMCE.Blazor.Editor ApiKey="v439hmeezl4njsgskpyy5lvknmkunhs9aj28b01fyjtk7qfv" placeholder="Nhập mô tả" />
            </div>
            <div class="form-group mb-5">
                <div>Thêm ảnh (*)</div>
                <div class="add-file">
                    <div class="add-file__block">
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file">
                            <span class="block-icon-text">
                                <span class="align-self-center material-icons my-icon-upload">cloud_upload</span>
                                <span class="align-self-center file__text">Kéo và thả hình ảnh liên quan tại đây</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {

    [CascadingParameter] public IModalService Modal { get; set; }

    private Fake activity = new()
    {
        StartDate = DateTime.Now,
        EndDate = DateTime.Now.AddDays(7)
    };
    private bool isCityShow;
    private bool haveCityValue;
    string cityChoosenValue = "Tỉnh/Thành phố";
    string nameCityValue = "Hồ Chí Minh";
    string nameDistrictValue = "Quận Thủ Đức";
    private List<string> targets = new()
    {
        "Sinh viên năm nhất",
        "Sinh viên năm hai",
        "Sinh viên năm ba",
        "Sinh viên năm tư"
    };

    void ToggleCityDropdown()
    {
        isCityShow = !isCityShow;
    }

    void ChooseCityValue(int id)
    {
        cityChoosenValue = nameCityValue + " " + (id + 1).ToString();
        ToggleCityDropdown();
        haveCityValue = true;
    }

    bool[,] choosenSkillsList = new bool[15, 11];

    async Task ShowSkillsPopup()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };
        var skillsParameter = new ModalParameters();
        skillsParameter.Add("choosenSkillsList", choosenSkillsList);
        var skillsModal = Modal.Show<VMS.Pages.ActivitySearchPage.SkillsPopup>("", skillsParameter, options);
        await skillsModal.Result;
    }

    async Task<IEnumerable<string>> SearchTargets(string searchText)
    {
        return await Task.FromResult(targets.Where(x => x.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private class Fake : Activity
    {
        public IList<string> Targets { get; set; }
    }
}