@attribute [Route(Routes.EditActivity + "/{activityid}")]
@attribute [Authorize]

@if (activity is null || string.IsNullOrEmpty(activity.OrgId) || activity.OrgId != userId)
{
    <div class="alert alert-info">Không tìm thấy hoạt động..<a href="@Routes.ActivitySearch">Quay lại</a></div>
}
else
{
	<div class="alert alert-info">
		<a href="@Routes.ActivityInfo/@ActivityId" class="btn btn-success">Quay lại</a>
	</div>

	<EditForm Model="activity" OnValidSubmit="UpdateActivityAsync">
		<DataAnnotationsValidator />

		<div class="alert alert-light">
			Tên hoạt động:
			<InputText @bind-Value="@activity.Name" class="form-control" />
		</div>

		<div class="alert alert-light">
			Lĩnh vực:
			<InputSelect @bind-Value="@activity.AreaId" class="form-control">
				<option value="0">Chọn lĩnh vực</option>
				@if (areas is not null)
				{
				@foreach (var area in areas)
					{
					<option value="@area.Id">@area.Name</option>
					}
				}
			</InputSelect>
		</div>

		<div class="alert alert-light">
			Ngày bắt đầu:
			<InputDate @bind-Value="@activity.StartDate" class="form-control" />
		</div>

		<div class="alert alert-light">
			Ngày kết thúc:
			<InputDate @bind-Value="@activity.EndDate" class="form-control" />
		</div>

		<div class="alert alert-light">
			Số nhà, đường:
			<InputText @bind-Value="@activity.Address" class="form-control" />
		</div>

		<div class="alert alert-light" style="display: flex;">
			<InputSelect Value="activity.ProvinceId" ValueChanged="@(async (int id) => await ProvinceSelectionChanged(id))" ValueExpression="@(() => activity.ProvinceId)" class="form-control">
				<option value="0">Tỉnh/Thành phố</option>
				@if (provinces is not null)
				{
					@foreach (var province in provinces)
					{
						<option id="@province.Name" value="@province.Id">@province.Name</option>
					}
				}
			</InputSelect>
		
			<InputSelect Value="activity.DistrictId" ValueChanged="@(async (int id) => await DistrictSelectionChanged(id))" ValueExpression="@(() => activity.DistrictId)" class="form-control">
				<option value="0">Quận/Huyện</option>
				@if (districts is not null)
				{
					@foreach (var district in districts)
					{
						<option id="@district.Name" value="@district.Id">@district.Name</option>
					}
				}
			</InputSelect>

			<InputSelect @bind-Value="activity.WardId" class="form-control">
				<option value="0">Phường/Xã</option>
				@if (wards is not null)
				{
					@foreach (var ward in wards)
					{
						<option id="@ward.Name" value="@ward.Id">@ward.Name</option>
					}
				}
			</InputSelect>
		</div>

		<div class="alert alert-light">
			Mô tả:
			<InputTextArea @bind-Value="@activity.Description" class="form-control"></InputTextArea>
		</div>

		<div class="alert alert-light">
			Nhiệm vụ:
			<InputTextArea @bind-Value="@activity.Mission" class="form-control"></InputTextArea>
		</div>

		<div class="alert alert-light">
			<InputCheckbox @bind-Value="@activity.IsVirtual" />  Is Virtual?
		</div>

		@if (skills is not null)
		{
				<div class="alert alert-light">
					Skill:
					@foreach (var skill in skills)
					{
						<p>
							<label for="@skill.Name">
								@if (activity.Skills.FirstOrDefault(s => s.Id == skill.Id) == null)
								{
									<input type="checkbox" id="@skill.Name" @onchange="@((e) => CheckboxChanged(e, skill))" /> @skill.Name
								}
								else
								{
									<input type="checkbox" id="@skill.Name" checked="checked" @onchange="@((e) => CheckboxChanged(e, skill))" /> @skill.Name
								}
							</label>
						</p>
					}
				</div>
		}

		<div class="alert alert-light">
			Requirement:
			<InputTextArea @bind-Value="@activity.Requirement" class="form-control"></InputTextArea>
		</div>

		<div class="alert alert-light">
			Website:
			<InputText @bind-Value="@activity.Website" class="form-control" />
		</div>

		<div class="alert alert-light">
			Banner:
			<InputFile OnChange="OnInputFileChangeAsync" />
			@if (!string.IsNullOrEmpty(message))
			{
				<span style="color: red">@message</span>
			}
			@if (!string.IsNullOrEmpty(banner))
			{
				<img src="@banner" />
			}
		</div>

		<div class="alert alert-light">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>

	</EditForm>
}

@code {

}
