@attribute [Route(Routes.EditActivity + "/{activityid}")]
@attribute [Authorize]

@if (activity is null || string.IsNullOrEmpty(activity.OrgId) || activity.OrgId != user.Id)
{
    <div class="alert alert-info">Không tìm thấy hoạt động..<a href="@Routes.Activities">Quay lại</a></div>
}
else
{
    <div class="alert alert-info"><a href="@Routes.ViewActivity/@ActivityId" class="btn btn-success">Quay lại</a></div>
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="activity" OnValidSubmit="UpdateActivityAsync">
                <div class="card card-body">
                    Tên hoạt động:
                    <InputText @bind-Value="@activity.Name" class="form-control" />
                </div>
                <div class="card card-body">
                    Lĩnh vực:
                    <InputSelect @bind-Value="@activity.AreaId" class="form-control">
                        <option value="0">Chọn lĩnh vực</option>
                        @if (areas is not null)
                        {
                            @foreach (var area in areas)
                            {
                                <option value="@area.Id">@area.Name</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="card card-body">
                    Ngày bắt đầu:
                    <InputDate @bind-Value="@activity.StartDate" class="form-control" />
                </div>
                <div class="card card-body">
                    Ngày kết thúc:
                    <InputDate @bind-Value="@activity.EndDate" class="form-control" />
                </div>
                <div class="card card-body">
                    Địa chỉ:
                    <InputText @bind-Value="@activity.Address" class="form-control" />
                </div>
                <div class="card card-body">
                    Mô tả:
                    <InputTextArea @bind-Value="@activity.Description" class="form-control"></InputTextArea>
                </div>
                <div class="card card-body">
                    Nhiệm vụ:
                    <InputTextArea @bind-Value="@activity.Mission" class="form-control"></InputTextArea>
                </div>
                <div class="card card-body">
                    <InputCheckbox @bind-Value="@activity.IsVirtual" />  Is Virtual?
                </div>
                @if (skills is not null)
                    {
                        <div class="card card-body">
                            Skill:
                            @foreach (var skill in skills)
                            {
                                <label for="@skill.Name">
                                    @if (activity.Skills.FirstOrDefault(s => s.Id == skill.Id) == null)
                                    {
                                        <input type="checkbox" id="@skill.Name" @onchange="@((e) => CheckboxChanged(e, skill))" /> @skill.Name
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="@skill.Name" checked="checked" @onchange="@((e) => CheckboxChanged(e, skill))" /> @skill.Name
                                    }
                                </label>
                            }
                        </div>
                    }
                <div class="card card-body">
                    Requirement:
                    <InputTextArea @bind-Value="@activity.Requirement" class="form-control"></InputTextArea>
                </div>
                <div class="card card-body">
                    Website:
                    <InputText @bind-Value="@activity.Website" class="form-control" />
                 </div>
                <div class="card card-body">
                    Banner:
                    <InputFile OnChange="OnInputFileChangeAsync" />
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <span style="color: red">@message</span>
                    }
                    @if (!string.IsNullOrEmpty(banner))
                    {
                        <img src="@banner"/>
                    }
                </div>
                <div class="card card-body">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </EditForm>
        </div>
    </div>
}

@code {

}
