@attribute [Route(Routes.Activities)]


@if (isLoggedIn)
{
	<div class="alert alert-link">
		<a href="@Routes.CreateActivity" class="btn btn-danger">Tạo hoạt động</a>
	</div>
}

<Filter FilterEventCallback="@GetFilter"></Filter>

<div class="alert alert-light">
	Sắp xếp theo 
	<span><input @onchange="((e) => OrderActivities(e))" type="radio" name="SortType" value="Newest" checked/> Mới nhất</span>
	<span><input @onchange="((e) => OrderActivities(e))" type="radio" name="SortType" value="Nearest"/> Gần bạn nhất</span>
	<span><input @onchange="((e) => OrderActivities(e))" type="radio" name="SortType" value="Hottest"/> Nổi bật nhất</span>
</div>

@if (activities is null || activities.Count == 0)
{
	<div class="card card-body">Hiện tại chưa có hoạt động nào..</div>
}
else
{
	@foreach (var activity in activities)
	{
		<div class="alert alert-secondary">
			<p><a href="@Routes.Activities/@activity.Id">@activity.Name</a></p>
			<p>@activity.Description</p>
		</div>
	}
}

@code {

}