@inject IJSRuntime JSRuntinme;

<div class="my-rank">
    <div class="container position-relative">
        <h1>Đại lộ <span>danh vọng</span></h1>
        <p class="rank__link d-flex align-items-center">
            <span @onclick="showOrg" class="rank__link-organization @(isShowOrg ? "cssShowOrg": "" )">Tổ chức</span>
            <span @onclick="showPer" class="rank__link-students @(isShowPer  ? "cssShowPer": "" )">Sinh viên</span>
        </p>
        
        <div class=" owl-carousel owl-theme rank__owlcrousel rank__owlcrousel-organization px-5">
            @foreach (var item in organizations)
            {
                <div class="item ">
                    <div class="rank__img-rank @(item.Id>=10 ?"w-nmb10" :"")">
                        <img src="img/rank.png" alt="">
                        <span class="@(item.Id>=10 ?"position-top" :"")">@item.Id</span>
                    </div>
                    <div class=" rank__content mx-auto py-4 text-center">
                        <div class="rank__img m-auto ">
                            <img class="mx-auto" src="@item.Banner" alt="">
                        </div>
                        <p class="rank__name my-3">@item.Name</p>
                        <span class="rank__review mb-4">@item.Rank</span>
                        <div class="row justify-content-between px-2 mt-2">
                            <div class="rank__act col-4">
                                <p>@item.NumberOfActivities</p>
                                <span>Hoạt động</span>
                            </div>
                            <div class="rank__class col-4">
                                <p>@item.Class</p>
                                <span>@item.Faculty - @item.Course </span>
                            </div>
                            <div class="rank__star col-4">
                                <p>@item.StarRating</p>
                                @for (int i = 0; i <= 4; i++)
                                {
                                    if (i <= item.StarRating)
                                    {
                                        <i class="material-icons">star_rate</i>
                                    }
                                    else
                                    {
                                        <i class="material-icons star-noColor">star_rate</i>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {

    class FakeData
    {
        public int Id { get; set; }
        public string Banner { get; set; }
        public string Name { get; set; }
        public string Rank { get; set; }
        public string Class { get; set; }
        public string Faculty { get; set; }
        public string Course { get; set; }
        public int NumberOfActivities { get; set; }
        public int StarRating { get; set; }
    }

    List<FakeData> organizations = new();

    protected override void OnInitialized()
    {
        organizations.AddRange(GetData(0));
    }

    /// <summary>
    /// Get data for carousel
    /// </summary>
    /// <param name="type">0 for organizations; 1 for students</param>
    /// <returns></returns>
    IEnumerable<FakeData> GetData(int type)
    {
        return Enumerable.Range(1, 10).Select(id => new FakeData()
        {
            Id = id,
            Banner = type == 0 ? "./img/RelatedActivities/2nd-activity.png" : "./img/RelatedActivities/2nd-activity.png",
            Name = " PHẠM THỊ NGỌC ÁNH",
            Rank = "Chiến sĩ năng động",
            Class= "EC001",
            Faculty="Khoa BIT",
            Course = "K46",
            NumberOfActivities = 12,
            StarRating = 4
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.RankCarousel");
    }

    private bool isShowOrg = true;
    private bool isShowPer = false;

    void showOrg()
    {
        organizations = GetData(0).ToList();
        isShowOrg = true;
        isShowPer = false;
    }

    void showPer()
    {
        organizations = GetData(1).ToList();
        isShowOrg = false;
        isShowPer = true;
    }


}