@inject IJSRuntime JsRuntime

<section class="my-act">
    <div class="container-lg p-0 position-relative">

        <div class="act-container position-relative">
            <div class="act-section margin-10">
                <a href="@Routes.ActivitySearch" class="act-header">
                    <span class="act-header__green">hoạt động</span>
                    <span class="act-header__blue">mới nhất</span>
                    <span class="act-header__green">gần bạn</span>
                </a>

                <div class="my-row">
                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title ">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a href="@Routes.ActivitySearch" class="act-more">Nhiều hơn >></a>
        </div>

        <div class="act-container position-relative margin-bt">
            <div class="act-section margin-10">
                <a href="@Routes.ActivitySearch" class="act-header">
                    <span class="act-header__green">hoạt động</span>
                    <span class="act-header__blue">nổi bật nhất</span>
                    <span class="act-header__green">gần bạn</span>
                </a>

                <div class="my-row">
                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivitySearch" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a href="@Routes.ActivitySearch" class="act-more">Nhiều hơn >></a>
        </div>
    </div>
</section>



@code {
    class UserLocation
    {
        public double Lat { get; set; }
        public double Long { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var location = await JsRuntime.InvokeAsync<UserLocation>("vms.GetUserLocation");
    }
}
