@attribute [Route(Routes.Activities)]
@inject IJSRuntime JsRuntime
<div class="container position-relative">

    <div class="act-container">
        <div class="act-section">
            <a href="@Routes.Activities" class="act-header">
                <span class="act-header__green">hoạt động</span>
                <span class="act-header__blue">mới nhất</span>
                <span class="act-header__green">gần bạn</span>
            </a>

            <div class="my-row">
                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-unchecked material-icons-outlined">
                            check_circle_outline
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-checked material-icons">
                            check_circle
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-checked material-icons">
                            check_circle
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-checked material-icons">
                            check_circle
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <a href="@Routes.Activities" class="act-more">Nhiều hơn >></a>
    </div>

    <div class="act-container">
        <div class="act-section">
            <a href="@Routes.Activities" class="act-header">
                <span class="act-header__green">hoạt động</span>
                <span class="act-header__blue">nổi bật nhất</span>
                <span class="act-header__green">gần bạn</span>
            </a>

            <div class="my-row">
                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-checked material-icons">
                            check_circle
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-unchecked material-icons-outlined">
                            check_circle_outline
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-unchecked material-icons-outlined">
                            check_circle_outline
                        </span>
                    </a>
                </div>

                <div class="col-lg-3 col-4 px-sm-2 padding-10 item-wrapper">
                    <a href="@Routes.Activities" class="act-item">
                        <img src="./img/RelatedActivities/1st-activity.png" alt="Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19" class="act-item--img">
                        <div class="act-item--title fw-bold">
                            <p class="m-0">Tuyển tình nguyện viên tham gia hỗ trợ công tác phòng, chống dịch Covid-19</p>
                        </div>
                        <span class="act-checked material-icons">
                            check_circle
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <a href="@Routes.Activities" class="act-more">Nhiều hơn >></a>
    </div>
</div>


@code {
    class UserLocation
    {
        public double Lat { get; set; }
        public double Long { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var location = await JsRuntime.InvokeAsync<UserLocation>("vms.GetUserLocation");
    }
}
