@using VMS.Application.ViewModels

@if (Activities is not null && Activities.Count != 0)
{
    <div class="act-container position-relative @(IsFeaturedActivities ? "margin-bt" : "")">
        <div class="act-section margin-10">
            <a href="@Routes.ActivitySearch" class="act-header">
                <span class="act-header__green">Hoạt động</span>
                <span class="act-header__blue">@Title</span>
                <span class="act-header__green">gần bạn</span>
            </a>

            <div class="my-row">
                @foreach (var activity in Activities)
                {
                    <div class="col-lg-3 col-4 padding-10 item-wrapper">
                        <a href="@Routes.ActivityInfo/@activity.Id" class="act-item">
                            <img src="./img/RelatedActivities/1st-activity.png" alt="Hoạt động tình nguyện" class="act-item--img">
                            <div class="act-item--title">
                                <p class="m-0 limited-text">@activity.Name</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <a href="@Routes.ActivitySearch" class="act-more">Nhiều hơn >></a>
    </div>
}

@code {
    [Parameter]
    public bool IsFeaturedActivities { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<UserWithActivityViewModel> Activities { get; set; }
}