@inject IActivityService ActivityService

@using VMS.Application.Interfaces
@using VMS.Application.ViewModels

@if (activity is not null)
{
    <div class="infopage">
        <div class="infopage-title">
            <p class="title__content">
                @activity.Name
            </p>
            <div class="title__name">
                <span class="material-icons"><span class="earth-icon">public</span></span>
                <p class="organization">Tên Đơn vị tổ chức</p>
            </div>
            <div class="title__date">
                <p class="postdate">
                    Ngày đăng: @activity.PostDate.ToShortDateString()
                </p>
                <button @onclick="AnimateHeart" class="@typeButton">
                    <span class="material-icons"><span class="heart-icon">@typeI</span></span>
                </button>
                <div><hr class="line-line2"></div>
            </div>
        </div>
        <div class="infopage-activity">
            <div class="activity__description">
                <p class="content">
                    @activity.Description
                </p>
            </div>
            <div class="activity__image">
                <img src="./img/ActivityInfoPage/ActivityImage.png" alt="Activity Image">
            </div>
            <div class="activity__mission">
                <p class="mission">Sứ mệnh:</p>
                <ul class="misson-list">
                    @activity.Mission
                </ul>
            </div>
            <div class="activity__assignment">
                <p class="assignment">Các nhiệm vụ tình nguyện viên sẽ tham gia:</p>
                <ul class="assignment-list">
                    @activity.Commission
                </ul>
            </div>
        </div>
    </div>
}

@code {
    private string typeButton = "heart-button1";
    private string typeI = "favorite_border";

    private void AnimateHeart()
    {
        if (typeButton == "heart-button1")
        {
            typeButton = "heart-button2";
            typeI = "favorite";
        }
        else
        {
            typeButton = "heart-button1";
            typeI = "favorite_border";
        }
    }

    private ViewActivityViewModel activity;

    [Parameter]
    public string ActivityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        activity = await ActivityService.GetViewActivityViewModelAsync(int.Parse(ActivityId));
    }
}
