@inject IActivityService ActivityService
@inject IIdentityService IdentityService

@using VMS.Application.Interfaces
@using VMS.Application.ViewModels
@using VMS.Domain.Models

@if (activity is not null)
{
    <div class="infopage">
        <div class="infopage-title">
            <p class="title__content">
                @activity.Name
            </p>
            <div class="title__name">
                <span class="material-icons"><span class="earth-icon">public</span></span>
                <p class="organization">@activity.Organizer.OrgName</p>
            </div>
            <div class="title__date">
                <p class="postdate">
                    Ngày đăng: @activity.PostDate.ToShortDateString()
                </p>
                @if (currentUser is not null)
                {
                    <button @onclick="() => HandleFavorite(int.Parse(ActivityId))" class="@(currentUser.Favorites.Any(f => f.ActivityId == int.Parse(ActivityId)) ? "heart-button1" : "heart-button2")">
                        <span class="material-icons"><span class="heart-icon">@(currentUser.Favorites.Any(f => f.ActivityId == int.Parse(ActivityId)) ? "favorite" : "favorite_border")</span></span>
                    </button>
                }
                <div><hr class="line-line2"></div>
            </div>
        </div>
        <div class="infopage-activity">
            <div class="activity__description">
                <p class="content">
                    @activity.Description
                </p>
            </div>
            <div class="activity__image">
                <img src="./img/ActivityInfoPage/ActivityImage.png" alt="Activity Image">
                @*@if (!string.IsNullOrEmpty(activity.Banner))
                    {
                        <img src="/img/@activity.Banner" alt="Activity Image"/>
                    }*@
            </div>
            <div class="activity__mission">
                <p class="mission">Sứ mệnh:</p>
                <ul class="misson-list">
                    @activity.Mission
                </ul>
            </div>
            <div class="activity__assignment">
                <p class="assignment">Các nhiệm vụ tình nguyện viên sẽ tham gia:</p>
                <ul class="assignment-list">
                    @activity.Commission
                </ul>
            </div>
        </div>
    </div>
}

@code {

    private User currentUser;
    private ViewActivityViewModel activity;

    [Parameter]
    public string ActivityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        activity = await ActivityService.GetViewActivityViewModelAsync(int.Parse(ActivityId));
        currentUser = IdentityService.GetCurrentUserWithFavoritesAndRecruitments();
    }

    private void HandleFavorite(int id)
    {
        Favorite favorite = currentUser.Favorites.FirstOrDefault(f => f.ActivityId == id);

        if (favorite is null)
        {
            currentUser.Favorites.Add(new()
            {
                UserId = currentUser.Id,
                ActivityId = id,
                CreatedDate = DateTime.Now
            });
        }
        else
        {
            currentUser.Favorites.Remove(favorite);
        }

        IdentityService.UpdateUser(currentUser);
    }

}
