@if (Activity is { } activity)
{
    <div class="infopage">
        <div class="infopage-title">
            <p class="title__content">
                @activity.Name
            </p>
            <div class="title__name">
                <span class="material-icons"><span class="earth-icon">public</span></span>
                @*TODO: Show org's name instead of its username*@
                <p class="organization">@activity.Organizer?.UserName</p>
            </div>
            <div class="title__date">
                <p class="postdate">
                    Ngày đăng: @activity.CreatedDate
                </p>
                @if (currentUser is not null)
                {
                    <button @onclick="() => HandleFavorite(activity.Id)" class="@(isFav ? "heart-button1" : "heart-button2")">
                        <span class="material-icons"><span class="heart-icon">@(isFav ? "favorite" : "favorite_border")</span></span>
                    </button>
                }
                <div><hr class="line-line2"></div>
            </div>
        </div>
        <div class="infopage-activity">
            <div class="activity__description">
                <p class="content">
                    @((MarkupString)activity.Description)
                </p>
            </div>
            @if (!string.IsNullOrEmpty(activity.Banner))
            {
                <img src="@activity.Banner" class="activity__image" alt="Activity Image" />
            }
            <div class="activity__mission">
                <p class="mission">Sứ mệnh:</p>
                @*<ul class="misson-list">
                    
                </ul>*@
                @((MarkupString)activity.Mission)
            </div>
            <div class="activity__assignment">
                <p class="assignment">Các nhiệm vụ tình nguyện viên sẽ tham gia:</p>
                @*<ul class="assignment-list">
                    
                </ul>*@
                @((MarkupString)activity.Commission)
            </div>
        </div>
    </div>
}
