@if (Activity is { } activity)
{
    <div class="infopage">
        <div class="infopage-title">
            <p class="title__content">
                @activity.Name
            </p>
            <div class="title__name">
                <span class="material-icons"><span class="earth-icon">public</span></span>
                <a class="org-name" href="@($"{Routes.OrgProfile}/{activity.OrgId}")">
                    <p class="organization m-0">@activity.Organizer?.FullName</p>
                </a>
            </div>
            <div class="title__date mb-3">
                <div class="d-flex justify-content-between align-items-end">
                    <p class="postdate m-0 ms-2">
                        Ngày đăng: @activity.CreatedDate
                    </p>
                    <button @onclick="@(() => HandleFavorite(activity.Id))" class="@(isFav ? "heart-button2" : "heart-button1")">
                        <span class="material-icons"><span class="heart-icon">@(isFav ? "favorite" : "favorite_border")</span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="infopage-activity">
            <div class="activity__description">
                <p class="content">
                    @((MarkupString)activity.Description)
                </p>
            </div>
            <div class="activity__image">
                <img src="@activity.Banner" alt="Activity Image">
            </div>
            <div class="activity__mission">
                <p class="mission">Sứ mệnh:</p>
                <p>@((MarkupString)activity.Mission)</p>
            </div>
            <div class="activity__assignment">
                <p class="assignment">Các nhiệm vụ tình nguyện viên sẽ tham gia:</p>
                <p>@((MarkupString)activity.Commission)</p>
            </div>
            <div class="activity__detail">
                <p class="detail">Chi tiết hoạt động:</p>
            </div>
        </div>
    </div>
}
