@attribute [Authorize]

<div class="overlay">

    <div class="min-overlay @(isShowReport ? "d-block" : "d-none")">
        <div class="report-success">

            <div class="min-overlay--icon">
                <span @onclick="ShowModalReportSucess" class="material-icons">
                    close
                </span>
            </div>

            <div class="report-success__text">
                <span class="green-text">Bạn đã</span>
                <span class="blue-text">báo cáo thành công</span>
            </div>

        </div>
    </div>
    <EditForm Model="@report" OnValidSubmit="@AddReportAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="my-container @(isShowReport ? "d-none" : "d-block")">
            <div class="icon-close-popup">
                <span @onclick="CloseModal" class="material-icons">close</span>
            </div>


            <div class="title-header">
                <span class="title-header__report">Báo cáo&nbsp</span>
                <span class="title-header__activity">@(IsReportUser ? "người dùng" : "hoạt động")</span>
            </div>

            <div class="reporting-reason dropdown">
                <div class="title title-reason">
                    <h4 class="title-discript__text">Lý do bạn muốn báo cáo</h4>
                    <h4 class="title-discript__check check">(*)</h4>
                </div>
                <button @onclick="ListReason" class="btn my-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="" aria-expanded="false">
                    <span class="material-icons-outlined my-icon-dropdown">
                        arrow_drop_down
                    </span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="display:@(showListReason ? "block" : "none")">
                    @foreach (var reason in Reasons)
                    {
                        <li>
                            <div class="dropdown-item" href="#">
                                <input id="@reason" @onchange="x => { CheckboxClicked(reason, x.Value); }" type="checkbox" class="dropdown-item--checkbox" />
                                <label for="@reason">@reason</label>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="report-description mb-3">
                <div class="title title-discript mt-4">
                    <h4 class="title-discript__text">Mô tả về báo cáo</h4>
                    <h4 class="title-discript__check check">(*)</h4>
                </div>
                <InputTextArea @bind-Value="@report.DesReport" @onclick="TextArea" class="form-control" id="exampleFormControlTextarea1" rows=""></InputTextArea>
            </div>

            <div class="attached-proof">
                <div class="title title-attach mt-4">
                    <h4 class="title-attach__text">Minh chứng đính kèm</h4>
                    <h4 class="title-attach__check check"> (*)</h4>
                </div>
                <div class="add-file position-relative d-flex align-items-center justify-content-center">
                    <InputFile OnChange="OnInputFileAsync" multiple type="file" name="file" id="file" class="inputfile" accept="image/*" />
                    <div class="d-flex align-items-center">
                        <i class="material-icons my-icon-upload">
                            cloud_upload
                        </i>
                        <span class="@(isChangeFile ? "d-none" : "d-block")">Kéo và thả hình ảnh liên quan tại đây</span>
                    </div>
                    <p class="m-0">
                        @if (selectedImages is not null)
                        {
                            @foreach (var item in selectedImages)
                            {
                                @item.Name
                                @space
                            }
                        }
                    </p>

                </div>
            </div>

            <div class="btn-accept mt-4">
                <button @onclick="ShowModalReportSucess" type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    @(IsReportUser ? "Báo cáo người dùng" : "Báo cáo hoạt động")
                </button>
            </div>
        </div>
    </EditForm>
</div>
