@inject IActivityService ActivityService

@using VMS.Application.Interfaces
@using VMS.Application.ViewModels

@if (activity is not null)
{
    <div class="container">
        <div class="inside-the-border">
            <div class="icons">
                <div class="icon-tooltip">
                    <div class="icon icon--community">
                        <span class="material-icons my-icons">
                            people_outline
                        </span>
                    </div>
                    <h5 class="tooltip">Cộng đồng</h5>
                </div>
                <div class="icon">
                    <span class="material-icons my-icons">
                        add_box
                    </span>
                </div>
            </div>
            <div class="about-infor">
                <div class="participant">
                    <p class="participant__title titles">Đối tượng tham gia</p>
                    <p class="participant__content contents">
                        @foreach (var target in activity.ActivityTargets)
                        {
                            <div>@target.Target</div>
                        }
                    </p>
                </div>
                <div class="location">
                    <p class="location__title titles">Địa điểm tham gia</p>
                    <p class="location__content contents">@activity.Address</p>
                </div>
                <div class="time">
                    <h3 class="time__title titles">Thời gian tham gia</h3>
                    <h3 class="time__content contents">@activity.StartDate.ToShortDateString() - @activity.EndDate.ToShortDateString()</h3>
                </div>
                <div class="skill">
                    <h3 class="skill__title titles">Kỹ năng</h3>
                    <h3 class="skill__content contents">
                        @foreach (var skill in activity.Skills)
                        {
                            <div>@skill.Name</div>
                        }
                    </h3>
                </div>
                <div class="request">
                    <h3 class="request__title titles">Yêu cầu khi tham gia</h3>
                    <ul>
                        @activity.Requirement
                    </ul>
                </div>
            </div>
            <div class="btn-sign-up--cover">
                <button class="btn-sign-up">
                    <h3 class="btn-sign-up__text">Đăng ký</h3>
                </button>
            </div>
        </div>
        <button @onclick="@(() => ShowReportPopUp())" class="report">Báo cáo hoạt động này</button>
    </div>
}

@code {

    [CascadingParameter] public IModalService Modal { get; set; }
    async Task ShowReportPopUp()
    {
        ModalParameters parameters = new();
        parameters.Add("ActivityId", ActivityId);

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };
        Modal.Show<PopUpReport>("",parameters ,options);
    }

    private ViewActivityViewModel activity;

    [Parameter]
    public string ActivityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        activity = await ActivityService.GetViewActivityViewModelAsync(int.Parse(ActivityId));
    }
}

