@using VMS.Application.Interfaces

@inject IIdentityService IdentityService

@if (activity is not null)
{
    <div class="container">
        <div class="inside-the-border">
            <div class="icons">

                <div class="icon">
                    <span class="material-icons my-icons">
                        people_outline
                    </span>
                    <div class="icon-tooltip">
                        <span class="icon-tooltip--text">Cộng đồng</span>
                        <div class="icon-tooltip--triangle"></div>
                    </div>
                </div>

                <div class="icon">
                    <span class="material-icons my-icons">
                        add_box
                    </span>
                </div>
            </div>
            <div class="about-infor">
                <div class="participant">
                    <p class="participant__title titles">Đối tượng tham gia</p>
                    <p class="participant__content contents">
                        @string.Join(", ", activity.Targets.Split('|'))
                    </p>
                </div>
                <div class="location">
                    <p class="location__title titles">Địa điểm tham gia</p>
                    <p class="location__content contents">
                        @activity.Address
                        @foreach (var address in activity.AddressPaths.Reverse())
                        {
                            <text>, </text>
                            @address.Name
                        }
                    </p>
                </div>
                <div class="time">
                    <h3 class="time__title titles">Thời gian tham gia</h3>
                    <h3 class="time__content contents">Từ @activity.StartDate.ToShortDateString() đến @activity.EndDate.ToShortDateString()</h3>
                </div>
                <div class="skill">
                    <h3 class="skill__title titles">Kỹ năng</h3>
                    <h3 class="skill__content contents">
                        @foreach (var skill in activity.Skills)
                        {
                            Skills.Add(skill.Name);
                        }
                        @string.Join(", ", Skills)
                    </h3>
                </div>
                <div class="request">
                    <h3 class="request__title titles">Yêu cầu khi tham gia</h3>
                    <ul>
                        @((MarkupString)activity.Requirement)
                    </ul>
                </div>
            </div>
            <div class="btn-sign-up--cover">
                <button @onclick="@(() => ShowSignUpPopUp())" disabled="@(!(IdentityService.GetCurrentUserId() is not null))" class="btn-sign-up">
                    <h3 class="btn-sign-up__text">Đăng ký</h3>
                </button>
            </div>
        </div>
        <button @onclick="@(() => ShowReportPopUp())" disabled="@(!(IdentityService.GetCurrentUserId() is not null))" class="report">Báo cáo hoạt động này</button>
    </div>
}
