@inject IActivityService ActivityService
@inject IIdentityService IdentityService

@using VMS.Application.Interfaces
@using VMS.Application.ViewModels

@if (activity is not null)
{
    <div class="container">
        <div class="inside-the-border">
            <div class="icons">

                <div class="icon">
                    <span class="material-icons my-icons">
                        people_outline
                    </span>
                    <div class="icon-tooltip">
                        <span class="icon-tooltip--text">Cộng đồng</span>
                        <div class="icon-tooltip--triangle"></div>
                    </div>
                </div>

                <div class="icon">
                    <span class="material-icons my-icons">
                        add_box
                    </span>
                </div>
            </div>
            <div class="about-infor">
                <div class="participant">
                    <p class="participant__title titles">Đối tượng tham gia</p>
                    <p class="participant__content contents">
                        @foreach (var target in activity.ActivityTargets)
                        {
                            <div>@target.Target</div>
                        }
                    </p>
                </div>
                <div class="location">
                    <p class="location__title titles">Địa điểm tham gia</p>
                    <p class="location__content contents">@activity.Address</p>
                </div>
                <div class="time">
                    <h3 class="time__title titles">Thời gian tham gia</h3>
                    <h3 class="time__content contents">@activity.StartDate.ToShortDateString() - @activity.EndDate.ToShortDateString()</h3>
                </div>
                <div class="skill">
                    <h3 class="skill__title titles">Kỹ năng</h3>
                    <h3 class="skill__content contents">
                        @foreach (var skill in activity.Skills)
                        {
                            <div>@skill.Name</div>
                        }
                    </h3>
                </div>
                <div class="request">
                    <h3 class="request__title titles">Yêu cầu khi tham gia</h3>
                    <ul>
                        @activity.Requirement
                    </ul>
                </div>
            </div>
            <div class="btn-sign-up--cover">
                <button @onclick="@(() => ShowSignUpPopUp())" class="btn-sign-up">
                    <h3 class="btn-sign-up__text">Đăng ký</h3>
                </button>
            </div>
        </div>
        <button @onclick="@(() => ShowReportPopUp())" class="report">Báo cáo hoạt động này</button>
    </div>
}

@code {

    private ViewActivityViewModel activity;

    [CascadingParameter] public IModalService Modal { get; set; }

    async Task ShowReportPopUp()
    {
        ModalParameters parameters = new();
        parameters.Add("ActivityId", ActivityId);

        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };

        if (IdentityService.GetCurrentUserId() is not null)
        {
            Modal.Show<PopUpReport>("", parameters, options);
        }
    }

    async Task ShowSignUpPopUp()
    {
        var options = new ModalOptions()
        {
            HideCloseButton = true,
            DisableBackgroundCancel = true,
            UseCustomLayout = true
        };
        if (IdentityService.GetCurrentUserId() is not null)
        {
            Modal.Show<VMS.Pages.ActivitySearchPage.Signup>("", options);
        }
    }

    [Parameter]
    public string ActivityId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        activity = await ActivityService.GetViewActivityViewModelAsync(int.Parse(ActivityId));
    }

}

