@using VMS.Application.Interfaces

@inject IIdentityService IdentityService

@if (Activity is { } activity)
{
    <div class="container">
        <div class="inside-the-border">
            <div class="icons">
                <div class="icon position-relative">
                    <span class="material-icons my-icons">
                        @activity.Area?.Icon
                    </span>
                    <span class="icon-tooltip">
                        @activity.Area?.Name
                    </span>
                </div>
            </div>

            <div class="about-infor">
                <div class="participant">
                    <p class="participant__title titles mb-0">Đối tượng tham gia:</p>
                    @foreach (var item in targets)
                    {
                        <p class="participant__content contents mb-0">@item</p>
                    }
                </div>
                <div class="location">
                    <p class="location__title titles mb-0">Địa điểm tham gia:</p>
                    <p class="location__content contents mb-0">@activity.Address</p>
                </div>
                <div class="time">
                    <p class="time__title titles mb-0">Thời gian đăng ký:</p>
                    <p class="time__content contents mb-0">Từ @activity.OpenDate.ToString("dd/MM/yyyy") đến @activity.CloseDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="time">
                    <p class="time__title titles mb-0">Thời gian diễn ra:</p>
                    <p class="time__content contents mb-0">Từ @activity.StartDate.ToString("dd/MM/yyyy") đến @activity.EndDate.ToString("dd/MM/yyyy")</p>
                </div>
                <div class="skill">
                    <p class="skill__title titles mb-0">Kỹ năng:</p>
                    <p class="skill__content contents mb-0">@string.Join(", ", activity.Skills.Select(x => x.Name))</p>
                </div>
                <div class="request">
                    <p class="request__title titles mb-0">Yêu cầu khi tham gia:</p>
                    <p>@((MarkupString)activity.Requirement)</p>
                </div>
                @if (activity.IsDay)
                {
                    <div class="d-flex align-items-center recognize mb-3">
                        <i class="material-icons-outlined">
                            check_circle_outline
                        </i>
                        <span>Ghi nhận ngày tình nguyện: @activity.NumberOfDays</span>
                    </div>
                }
                @if (activity.IsPoint)
                {
                    <div class="d-flex align-items-center recognize mb-3">
                        <i class="material-icons-outlined">
                            check_circle_outline
                        </i>
                        <span>Cập nhật mã vạch</span>
                    </div>
                }
            </div>
            <AuthorizeView Roles="@($"{Role.User}")">
                <div class="btn-sign-up--cover">
                    @if (IsSignupTimeExpired())
                    {
                        <button class="btn-already-sign-up">
                            <h3 class="btn-sign-up__text">@(isAlreadySignedUp ? "Bạn đã đăng ký" : "Đăng ký")</h3>
                        </button>
                    }
                    else
                    {
                        <button @onclick="ShowSignUpPopUp" class="btn-sign-up">
                            <h3 class="btn-sign-up__text">Đăng ký</h3>
                        </button>
                    }
                </div>
            </AuthorizeView>
            <AuthorizeView>
                <NotAuthorized>
                    <div class="btn-sign-up--cover">
                        <button @onclick="ShowRequireSignup" class="btn-sign-up">
                            <h3 class="btn-sign-up__text">Đăng ký</h3>
                        </button>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <AuthorizeView Roles="@($"{Role.User}")">
            <button @onclick="@(() => ShowReportPopUp())" class="report">Báo cáo hoạt động này</button>
        </AuthorizeView>
    </div>
}

