@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using VMS.Common
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/IdentityCss/Layout.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-xl navbar-light bg-white py-0 shadow-sm my-navbar">
        <div class="container-lg p-0 my-navbar-container">
            <div class="d-flex my-navbar__brand">
                <a href="@Routes.ActivitySearch" class="my-navbar__brand-item">
                    <img src="~/img/GoVirlunteer.png" alt="Go Volunteer logo" class="brand__govirlunteer" />
                </a>
            </div>
           
            <div class="my-buttons-wrapper d-flex align-items-center">
                <a class="btn my-home-btn d-flex align-items-center justify-content-center fw-bold p-0 position-relative text-white" href="@Routes.HomePage">
                    Trang chủ
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-lg p-0">
            <div class="row align-items-center justify-content-between my-row">
                <div class="introduce col-lg-6">
                    <h1 class="mb-3 d-inline-block colored-blue">Go</h1>
                    <h1 class="mb-3 d-inline-block colored-green">Virlunteer</h1>
                    <h5 class="colored-blue">
                        Khám phá cộng đồng <br />
                        <span class="colored-green">tình nguyện trực tuyến UEH</span>
                    </h5>
                </div>
                <div class="form-login col-lg-5">
                    <div class="my-content-wrapper d-flex align-items-center">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">

        <div class="container my-container">
            <div class="row kha-row">
                <div class="footer__logo col-7 col-xl-4">
                    <img src="img/GoVirlunteer (1).png" alt="" class="footer__logo-govirlunteer">
                    <div class="footer__logo-ueh-hsv">
                        <img src="img/UEH-logo-2.png" alt="" class="footer__logo-ueh">
                        <img src="img/hsv.png" alt="" class="footer__logo-hsv">
                    </div>
                    <p>
                        Trang web được phát triển bởi Hội sinh viên UEH
                    </p>
                </div>
                <div class="footer__contact d-none d-xl-block col-6">
                    <div class="d-flex justify-content-center">
                        <div>
                            <h6 class="contact__name">Văn phòng Đoàn Hội sinh viên UEH</h6>
                            <h6>B2 - 603 279 Nguyễn Tri Phương, <br /> Phường 5, Quận 10, TP. Hồ Chí Minh</h6>
                            <h6>Điện thoại: (84) 28 36063090</h6>
                            <h6><a href="" class="contact-items contact__contribute">Liên hệ/Đóng góp cho mở hộp mail - hoisinhvien@ueh.edu.vn</a></h6>
                        </div>
                    </div>
                </div>
                <div class="footer__right col-5 col-xl-2">
                    <span>
                        <h6><a href="">Chính sách bảo mật</a></h6>
                        <h6><a href="">Nội quy sử dụng</a></h6>
                        <h6><a href="">Trung tâm trợ giúp</a></h6>
                        <h6><a href="">Hướng dẫn sử dụng</a></h6>
                    </span>
                </div>

            </div>

            <div class="footer__contact col-10 d-xl-none m-auto text-center">
                <div>
                    <h6 class="contact__name">Văn phòng Đoàn Hội sinh viên UEH</h6>
                    <h6>B2 - 603 279 Nguyễn Tri Phương, <br /> Phường 5, Quận 10, TP. Hồ Chí Minh</h6>
                    <h6>Điện thoại: (84) 28 36063090</h6>
                    <h6><a href="" class="contact-items contact__contribute">Liên hệ/Đóng góp cho mở hộp mail - hoisinhvien@ueh.edu.vn</a></h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js" integrity="sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    <script src="js/vms.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
