@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using VMS.Common
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/site.css" />
    <link href="~/css/IdentityCss/Layout.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-xl navbar-light bg-white py-0 shadow-sm my-navbar">
        <div class="container-lg p-0 my-navbar-container">
            <div class="d-flex flex-column my-navbar__brand">
                <a href="@Routes.HomePage" class="my-navbar__brand-item" Match="NavLinkMatch.All">
                    <img src="img/logo UEH tieng Anh.png" alt="UEH logo" class="brand__ueh" />
                </a>
                <a href="@Routes.ActivitySearch" class="my-navbar__brand-item">
                    <img src="img/GoVirlunteer.png" alt="Go Volunteer logo" class="brand__govirlunteer" />
                </a>
            </div>
           
            <div class="my-buttons-wrapper d-flex align-items-center">
                <a class="btn my-home-btn d-flex align-items-center justify-content-center fw-bold p-0 position-relative text-white" href="@Routes.HomePage">
                    Trang chủ
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-lg p-0">
            <div class="row align-items-center my-row">
                <div class="col-lg-6">Go virluntter<br /> Kham pha cong dong tinh nguyen truc tuyen</div>
                <div class="col-lg-6 px-5">
                    <div class="my-content-wrapper">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="lh-lg">
        <div class="container">
            Khoa Hệ thống Thông tin Kinh doanh
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js" integrity="sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    <script src="js/vms.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
