@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;
@using VMS.Application.Interfaces
@using VMS.Domain.Models

@inject NavigationManager NavigationManager
@inject UserManager<User> _userManager;
@inject IHttpContextAccessor _httpContext;
@inject IIdentityService IdentityService

<AuthorizeView>
    <Authorized>
        <li class="user-section nav-item dflex flex-column align-items-center position-relative">
            <div class="d-block text-decoration-none user-section__link">
                <div class="user-avatar-wrapper position-relative" @onclick="OnAvatarClick">
                    <img src="@userAvatar" alt="user avatar" class="user-avatar">
                </div>

                <div class="dropdown">
                    <span class="material-icons-outlined user-section__dropdown-icon" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        arrow_drop_down
                    </span>
                    <ul class="dropdown-menu user-section__list list-unstyled bg-white pb-2">
                        @if (context.User.IsInRole(Role.User.ToString()))
                        {
                            <li class="user-info">
                                <a href="@profileUrl" class="user-info-link d-flex px-3 pt-4 text-decoration-none align-items-center">
                                    <img src="@userAvatar" class="user-img" />
                                    <div class="ms-3 user-info-heading d-flex flex-column">
                                        <h3 class="py-1 mb-0">@userFullname</h3>
                                        <h4 class="py-1 mb-0">Cộng tác viên GoVirlunteer</h4>
                                    </div>
                                </a>
                            </li>
                            <hr class="mx-3 my-3" />
                            <li class="edit pt-1 pb-2">
                                <a href="@Routes.EditUserProfile" class="d-flex justify-content-center align-items-center text-decoration-none mx-3">
                                    <h4 class="py-2 mb-0">Chỉnh sửa thông tin cá nhân</h4>
                                </a>
                            </li>
                            <li class="pass py-2 mx-3">
                                <a href="@Routes.ChangePassword" class="text-decoration-none mx-3">
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li class="history py-2 mx-3">
                                <a href="@Routes.ActivityLogPage" class="text-decoration-none mx-3">
                                    Lịch sử hoạt động
                                </a>
                            </li>
                            <hr class="mx-3 my-2" />
                        }
                        else if (context.User.IsInRole(Role.Organization.ToString()))
                        {
                            <li class="user-info">
                                <a href="@profileUrl" class="user-info-link d-flex px-3 pt-4 text-decoration-none align-items-center">
                                    <img src="@userAvatar" class="user-img" />
                                    <div class="ms-3 user-info-heading d-flex flex-column">
                                        <h3 class="py-1 mb-0">@userFullname</h3>
                                        <h4 class="py-1 mb-0">Đơn vị tổ chức GoVirlunteer</h4>
                                    </div>
                                </a>
                            </li>
                            <hr class="mx-3 my-3" />
                            <li class="edit pt-2 pb-3">
                                <a href="@Routes.EditOrgProfile" class="d-flex justify-content-center align-items-center text-decoration-none mx-3">
                                    <h4 class="py-2 mb-0">Chỉnh sửa thông tin tổ chức</h4>
                                </a>
                            </li>
                            <li class="manage d-flex justify-content-between py-2 my-1 mx-3">
                                <a href="@Routes.ChangePassword" class="text-decoration-none mx-3">
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li class="manage d-flex justify-content-between py-2 my-1 mx-3">
                                <a href="@Routes.ActivityManagement" class="text-decoration-none mx-3">
                                    Quản lý hoạt động
                                </a>
                            </li>
                            <hr class="mx-3 mt-3" />
                        }
                        else
                        {
                            <li class="user-info">
                                <a class="user-info-link d-flex px-3 pt-4 text-decoration-none align-items-center">
                                    <img src="@userAvatar" class="user-img" />
                                    <div class="ms-3 user-info-heading d-flex flex-column">
                                        <h3 class="py-1 mb-0">@userFullname</h3>
                                        <h4 class="py-1 mb-0">Quản trị viên GoVirlunteer</h4>
                                    </div>
                                </a>
                            </li>
                            <hr class="mx-3 my-3" />
                            <li class="manage d-flex justify-content-between py-2 my-1 mx-3">
                                <a href="@Routes.AdminActivityManagement" class="text-decoration-none mx-3">
                                    Trang quản trị
                                </a>
                            </li>
                            <hr class="mx-3 mt-3" />
                        }
                        <li class="user-logout d-flex justify-content-center">
                            <form method="post" action="@Routes.LogOut" class="d-flex justify-content-center align-items-center py-2 mx-3">
                                <button type="submit" class="d-flex text-decoration-none justify-content-center align-items-center">
                                    <span class="material-icons">
                                        exit_to_app
                                    </span>
                                    <h4 class="mb-0 ps-3">Đăng xuất</h4>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item ">
            <a class="btn login-btn d-flex align-items-center justify-content-center fw-bold p-0 position-relative text-white" href="@Routes.LogIn">
                Đăng nhập
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code
{
    string profileUrl, userAvatar, userFullname;

    [CascadingParameter]
    public string UserId { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        profileUrl = (_httpContext.HttpContext.User.IsInRole(Role.Organization.ToString())
            ? Routes.OrgProfile
            : Routes.UserProfile) + $"/{UserId}";

        var user = IdentityService.FindUserById(UserId);
        userAvatar = string.IsNullOrEmpty(user?.Avatar) ? "img/Default/avatar.png" : user?.Avatar;
        userFullname = !string.IsNullOrEmpty(user?.FullName) ? user?.FullName : user?.Email;
    }

    private void OnAvatarClick()
    {
        NavigationManager.NavigateTo(profileUrl);
    }
}