@inject IJSRuntime JSRuntime;

<nav class="navbar navbar-expand-xl navbar-light bg-white py-0 @(IsFixedTop ? "fixed-top" : "") shadow-sm my-navbar">
    <div class="container-lg p-0 my-navbar-container">
        <div class="my-navbar__hamburger-wrapper">
            <button class="d-flex align-items-center my-navbar__hamburger-wrapper__btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons hamburger-icon">
                    menu
                </span>
            </button>
        </div>
        <div class="d-flex my-navbar__brand">
            <NavLink href="@Routes.ActivitySearch" @onclick="NoUnderlined" class="my-navbar__brand-item">
                <img src="img/GoVirlunteer (1).png" alt="Logo GoVirlunteer" class="brand__govirlunteer" />
            </NavLink>
        </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse style-collapse bg-white my-collapse">
            <ul class="navbar-nav navbar-list mb-4 mb-xl-0 fw-bold my-collapse__list">
                <li class="nav-item nav-item-haverHover">
                    <NavLink href="@Routes.HomePage" @onclick="NoUnderlined"  Match="NavLinkMatch.All" class=" nav-link  text-decoration-none mx-4  py-2 py-lg-3 position-relative my-collapse__list__link">Trang chủ</NavLink>
                </li>
                <li class="nav-item nav-item-haverHover">
                    <NavLink href="@Routes.ActivitySearch" @onclick="NoUnderlined" class="nav-link text-decoration-none mx-4  py-2 py-lg-3 position-relative my-collapse__list__link">Go Virlunteer</NavLink>
                </li>
                <li class="nav-item nav-item-haverHover nav-mega-menu @(isShowMenu ? "" : "nav-item-haverHover")">
                    <a @onclick="ShowMenu" id="k-community" class="nav-link text-decoration-none mx-4 py-2 py-lg-3 position-relative my-collapse__list__link d-flex align-items-center @(isClick? "active" : "")">
                        <span>Cộng đồng</span>
                        <i class="material-icons-outlined icon-down-up ms-1">
                            @(isShowMenu ? "expand_less" : "expand_more")
                        </i>
                    </a>
                    <div class="mega-menu mega-menu-k">
                        <div class="row">
                            <div class="col-6 mega-menu-col">
                                <a href="@Routes.OrganizerSearch" @onmousemove="(() => ShowDetail(1))" @onclick="Underlined" class="d-flex align-items-center mega-menu-a">
                                    <i class="material-icons"> person </i>
                                    <span>Đơn vị tổ chức</span>
                                </a>
                                <a href="@Routes.VolunteerSearch" @onmousemove="(() => ShowDetail(2))" @onclick="Underlined" class="d-flex align-items-center mega-menu-a">
                                    <i class="material-icons-outlined"> people </i>
                                    <span>Tình nguyện viên</span>
                                </a>
                                <a @onmousemove="(() => ShowDetail(3))" href="@Routes.GloryAvenue" class="d-flex align-items-center mega-menu-a">
                                    <i class="material-icons"> local_fire_department </i>
                                    <span>Đại lộ danh vọng</span>
                                </a>
                            </div>

                            <div class="col-6 mega-menu-detail mega-menu-detail-org @(isShowDetailOrg ? "d-block" :"d-none")">
                                <div class="mega-menu-image">
                                    <img src="./img/Cộng đồng-DVTC.png" class="" />
                                </div>
                                <p class="mb-0">
                                    Những đơn vị tổ chức uy tín hứa hẹn mang đến cho sinh viên không gian tình nguyện bổ ích và chất lượng.
                                </p>
                            </div>

                            <div class="col-6 mega-menu-detail mega-menu-detail-org @(isShowDetailUser ? "d-block" :"d-none")">
                                <div class="mega-menu-image">
                                    <img src="./img/Cộng đồng-TNV.png" class="" />
                                </div>
                                <p class="mb-0">
                                    Các tình nguyện viên là những sinh viên tài năng, nhiệt huyết, hứa hẹn lan tỏa giá trị tích cực đến cộng đồng.
                                </p>
                            </div>

                            <div class="col-6 mega-menu-detail mega-menu-detail-org @(isShowDetailRank ? "d-block" :"d-none")">
                                <div class="mega-menu-image">
                                    <img src="./img/Cộng đồng-DLDV.png" />
                                </div>
                                <p class="mb-0">Đại lộ danh vọng là không gian vinh danh những cá nhân và tập thể có thành tích tình nguyện xuất sắc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="menuCommunity @(isShowMenu ? "d-block" : "d-none")">
                        <a href="@Routes.OrganizerSearch" class="d-flex align-items-center mega-menu-li-org">
                            <i class="material-icons">
                                person
                            </i>
                            <span>Đơn vị tổ chức</span>
                        </a>
                        <a href="@Routes.VolunteerSearch" class="d-flex align-items-center mega-menu-li-user">
                            <i class="material-icons-outlined">
                                people
                            </i>
                            <span>Tình nguyện viên</span>
                        </a>
                        <a href="@Routes.OrganizerSearch" class="d-flex align-items-center mega-menu-li-rank">
                            <i class="material-icons">
                                local_fire_department
                            </i>
                            <span>Đại lộ danh vọng</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-item-haverHover">
                    <NavLink class="nav-link text-decoration-none mx-4 py-2 py-lg-3 position-relative my-collapse__list__link">Bản đồ</NavLink>
                </li>
            </ul>
        </div>
        <ul class="my-collapse__login-area navbar-nav d-flex align-items-center my-xl-0">
            <Notification />
            <LoginDisplay />
        </ul>

    </div>
</nav>

@code
{
    string userProfileUrl;

    [Parameter]
    public bool IsFixedTop { get; set; }

    bool isShowDetailOrg = true;
    bool isShowDetailUser = false;
    bool isShowDetailRank = false;
    bool isShowMenu = false;

    private void ShowMenu()
    {
        isShowMenu = !isShowMenu;
    }

    private void ShowDetail(int i)
    {
        switch (i)
        {
            case 1:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailOrg = true;
                break;
            case 2:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailUser = true;
                break;
            case 3:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailRank = true;
                break;
        }
    }

    private bool isClick = false;
    private void Underlined()
    {
        isClick = true;
    }

    private void NoUnderlined()
    {
        isClick = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("vms.AddOutsideClickNavBarHandler");
        }
    }
}