<nav class="navbar navbar-expand-xl navbar-light bg-white py-0 @(IsFixedTop ? "fixed-top" : "") shadow-sm my-navbar">
    <div class="container-lg p-0 my-navbar-container">
        <div class="my-navbar__hamburger-wrapper">
            <button class="d-flex align-items-center my-navbar__hamburger-wrapper__btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="material-icons hamburger-icon">
                    menu
                </span>
            </button>
        </div>
        <div class="d-flex my-navbar__brand">
            <NavLink href="@Routes.ActivitySearch" class="my-navbar__brand-item">
                <img src="img/GoVirlunteer (1).png" alt="Logo GoVirlunteer" class="brand__govirlunteer" />
            </NavLink>
        </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse style-collapse bg-white my-collapse">
            <ul class="navbar-nav navbar-list mb-4 mb-xl-0 fw-bold my-collapse__list">
                <li class="nav-item nav-item-haverHover">
                    <NavLink href="@Routes.HomePage" Match="NavLinkMatch.All" class=" nav-link  text-decoration-none mx-4  py-2 py-lg-3 position-relative my-collapse__list__link">Trang chủ</NavLink>
                </li>
                <li class="nav-item nav-item-haverHover">
                    <NavLink href="@Routes.ActivitySearch" class="nav-link text-decoration-none mx-4  py-2 py-lg-3 position-relative my-collapse__list__link">Go Virlunteer</NavLink>
                </li>
                <li class="nav-item  nav-mega-menu @(isShowMenu ? "" : "nav-item-haverHover")">
                    <NavLink @onclick="ShowMenu" class="nav-link text-decoration-none mx-4 py-2 py-lg-3 position-relative my-collapse__list__link d-flex align-items-center " >
                        <span>Cộng đồng</span>
                        <i class="material-icons-outlined icon-down-up ms-1">
                            @(isShowMenu ? "expand_less" : "expand_more")
                        </i>
                    </NavLink>
                    <div class="mega-menu row">
                        <div class="row">
                            <div class="col-6 ">
                                <a href="@Routes.OrganizerSearch" @onmousemove="(() => ShowDetail(1))" class="d-flex align-items-center mega-menu-li-org">
                                    <i class="material-icons-outlined">
                                        people
                                    </i>
                                    <span>Đơn vị tổ chức</span>
                                </a>
                                <a href="@Routes.VolunteerSearch" @onmousemove="(() => ShowDetail(2))" class="d-flex align-items-center mega-menu-li-user">
                                    <i class="material-icons">person</i>
                                    <span>Tình nguyện viên</span>
                                </a>
                                <a @onmousemove="(() => ShowDetail(3))" class="d-flex align-items-center mega-menu-li-rank">
                                    <i class="material-icons">
                                        local_fire_department
                                    </i>
                                    <span>Đại lộ danh vọng</span>
                                </a>
                            </div>

                            <div class="col-6  mega-menu-detail mega-menu-detail-org @(isShowDetailOrg ? "d-block" :"d-none")">
                                <h6 class="text-center">ĐƠN VỊ TỔ CHỨC</h6>
                                <div class="mega-menu-img mx-auto">
                                    <img src="./img/detailorg.png" class="w-100" />
                                </div>
                                <p class="mb-0">Phường Phú Hữu thành phố Thủ Đức trân trọng kính mời y bác sĩ, cán bộ y tế nghỉ hưu có sức khoẻ, tinh thần hăng hái công tác có sức khoẻ, tinh thần hăng hái công tác hăng hái công tác </p>
                            </div>
                            <div class="col-6  mega-menu-detail mega-menu-detail-org @(isShowDetailUser ? "d-block" :"d-none")">
                                <h6 class="text-center">TÌNH NGUYỆN VIÊN</h6>
                                <div class="mega-menu-img mx-auto">
                                    <img src="./img/deatiluser.png" class="w-100" />
                                </div>
                                <p class="mb-0">Phường Phú Hữu thành phố Thủ Đức trân trọng kính mời y bác sĩ, cán bộ y tế nghỉ hưu có sức khoẻ, tinh thần hăng hái công tác có sức khoẻ, tinh thần hăng hái công tác hăng hái công tác </p>
                            </div>
                            <div class="col-6  mega-menu-detail mega-menu-detail-org @(isShowDetailRank ? "d-block" :"d-none")">
                                <h6 class="text-center">ĐẠI LỘ DANH VỌNG</h6>
                                <div class="mega-menu-img mx-auto">
                                    <img src="./img/detailrank.png" class="w-100" />
                                </div>
                                <p class="mb-0">Phường Phú Hữu thành phố Thủ Đức trân trọng kính mời y bác sĩ, cán bộ y tế nghỉ hưu có sức khoẻ, tinh thần hăng hái công tác có sức khoẻ, tinh thần hăng hái công tác hăng hái công tác </p>
                            </div>
                        </div>                      
                    </div>
                    <div class="menuCommunity @(isShowMenu ? "d-block" : "d-none")">
                        <a class="d-flex align-items-center mega-menu-li-org">
                            <i class="material-icons-outlined">
                                people
                            </i>
                            <span>Đơn vị tổ chức</span>
                        </a>
                        <a  class="d-flex align-items-center mega-menu-li-user">
                            <i class="material-icons">person</i>
                            <span>Tình nguyện viên</span>
                        </a>
                        <a class="d-flex align-items-center mega-menu-li-rank">
                            <i class="material-icons">
                                local_fire_department
                            </i>
                            <span>Đại lộ danh vọng</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-item-haverHover">
                    <NavLink  class="nav-link text-decoration-none mx-4 py-2 py-lg-3 position-relative my-collapse__list__link">Bản đồ</NavLink>
                </li>
                @*<li class="nav-item">
            <NavLink href="@Routes.OrganizerSearch" class="nav-link text-decoration-none mx-2 mx-xxl-4 py-2 py-lg-3 position-relative my-collapse__list__link">Đơn vị tổ chức</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="@Routes.UserProfile" class="nav-link text-decoration-none mx-2 mx-xxl-4 py-2 py-lg-3 position-relative my-collapse__list__link">Đại lộ danh vọng</NavLink>
        </li>*@
            </ul>
        </div>
        <ul class="my-collapse__login-area navbar-nav d-flex align-items-center my-xl-0">
            <Notification />
            <LoginDisplay />
        </ul>

    </div>
</nav>

@code
{
    string userProfileUrl;

    [Parameter]
    public bool IsFixedTop { get; set; }

    bool isShowDetailOrg = true;
    bool isShowDetailUser = false;
    bool isShowDetailRank = false;
    bool isShowMenu = false;

    private void ShowMenu()
    {
        isShowMenu = !isShowMenu;
    }

    private void ShowDetail(int i)
    {
        switch (i)
        {
            case 1:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailOrg = true;
                break;
            case 2:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailUser = true;
                break;
            case 3:
                isShowDetailOrg = false;
                isShowDetailUser = false;
                isShowDetailRank = false;
                isShowDetailRank = true;
                break;
        }
    }
}