

<div class="filter-bar">
    <div class="item dropdown">
        <span class="material-icons-outlined"> expand_more </span>
        <input readonly="readonly" placeholder="@valueTypeReport" data-bs-toggle="dropdown" class="@(haveType?"bg-grey":"") dropdown-input" />
        <ul class="dropdown-menu">
            <li @onclick="() => ChooseValueType(false)">Báo cáo tổ chức</li>
            <li @onclick="() => ChooseValueType(true)">Báo cáo tình nguyện viên</li>
        </ul>
    </div>

    <div class="item dropdown">
        <span class="material-icons-outlined"> expand_more </span>
        <input readonly="readonly" placeholder="@valueStatus" data-bs-toggle="dropdown" class="@(haveStatus?"bg-grey":"") dropdown-input" />
        <ul class="dropdown-menu">
            <li @onclick="() => ChooseValueStatus(ReportState.Pinned)" style="color: #F14747">Đã ghim</li>
            <li @onclick="() => ChooseValueStatus(ReportState.Processing)" style="color: #18A0FB">Đang xử lý</li>
            <li @onclick="() => ChooseValueStatus(ReportState.Done)" style="color: #64D72F">Hoàn tất xử lý</li>
            <li @onclick="() => ChooseValueStatus(ReportState.Closed)" style="color: unset">Đã đóng</li>
        </ul>
    </div>

    <div class="item filter-item">
        <AntDesign.DatePicker Picker="@AntDesign.DatePickerType.Month" Value="timeValue" Class="pe-1" Style="@(isFilterMonth ? "background-color: #f3f3f3":"")" ValueChanged="(DateTime e) => OnTimeValueChanged(e)" Format="MM/yyyy" />
    </div>

    <button @onclick="OnClickFilterAsync" class="filter-btn">Lọc</button>

    <button @onclick="ClearFilterAsync" type="button" class="clear-filter-btn">Xóa lọc</button>
</div>

@code {
}