@inject IJSRuntime JsRuntime

<Spinner IsLoading="isLoading" />

@if (pagedResult != null && pagedResult.TotalItems != 0)
{
    <h3 class="quantity-report">Có <span>@pagedResult.TotalItems báo cáo</span> ứng với kết quả tìm kiếm</h3>

    <div class="list-card">
        @foreach (var item in pagedResult.Items)
        {
            <div class="card-item">
                <div class="item @(item.IsPinned ? "item--pinned" : "")">
                    <div class="list-reason"><a href="@Routes.AdminDetailReport/@item.Id">@ConvertListReasonsToString(item.Reasons)</a></div>

                    <div class="d-flex justify-content-between">

                        <div class="info-item">
                            <p class="info-item__who">Báo cáo bởi: @item.ReporterName</p>
                            <p class="info-item__activity">Hoạt động: @item.ActivityName</p>
                        </div>

                        <div class="info-item">
                            <p class="info-item__time">@item.CreatedDate.ToString("dd/MM/yyyy")</p> <br />
                            <div class="d-flex info-item__status">

                                <p class="info-item__status--admin">@item.HandlerName</p>
                                <div class="info-item__status--pin">
                                    <span class="material-icons" style="@(item.IsPinned ? "color:red" : "#B4B4B4")" @onclick="@(() => HandlePinAsync(item.Id))"> push_pin </span>
                                    <span class="icon-tooltip">Ghim báo cáo</span>
                                </div>
                                @if (item.IsDone.HasValue && item.IsDone.Value)
                                {
                                    <div class="info-item__status--complete">
                                        <span class="material-icons"> check_circle </span>
                                        <span class="icon-tooltip">Hoàn tất xử lý</span>
                                    </div>
                                }
                                else if (item.IsDone.HasValue && !item.IsDone.Value)
                                {
                                    <div class="info-item__status--processing">
                                        <svg class="material-icons">
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                            <path d="M12 2c5.5 0 10 4.5 10 10s-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2m0 2c-4.42 0-8 3.58-8 8s3.58 8 8 8s8-3.58 8-8s-3.58-8-8-8m0 1c3.87 0 7 3.13 7 7s-3.13 7-7 7c-1.93 0-3.68-.78-4.95-2.05L12 12V5z" fill="currentColor" />
                                        </svg>

                                        <span class="icon-tooltip">Đang xử lý</span>
                                    </div>
                                }
                                else if (item.IsClosed)
                                {
                                    <div class="info-item__status--closed">
                                        <span class="material-icons"> cancel </span>
                                        <span class="icon-tooltip">Đã đóng</span>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}

<div class="d-flex justify-content-center">
    <Pager CurrentPage="@pagedResult.PageIndex"
           PageCount="@pagedResult.TotalPages"
           OnPageChanged="HandlePageChangedAsync" />
</div>

@code {
}