@page "/them-hoat-dong"

@attribute [Authorize]

@using VMS.Application.ViewModels;
@using VMS.Application.Interfaces;

@inject IProjectService ProjectService;
@inject ICategoryService CategoryService;
@inject NavigationManager NavigationManager;

<h3>Them moi hoat dong</h3>

<EditForm Model="project" OnValidSubmit="AddProject">
    <div class="">
        <label for="projectName" class="col-form-label">Ten hoat dong: </label>
        <InputText @bind-Value="@project.Name" id="projectName" />
    </div>
    <div class="">
        <label for="shortDescription" class="col-form-label">Mo ta ngan: </label>
        <InputText @bind-Value="@project.ShortDescription" id="shortDescription" />
    </div>
    <div>
        <label></label>
        <select @bind="@project.CategoryId">
            <option value=0 selected>[Select Publisher]</option>
            @foreach (var category in project.Categories)
            {
                <option value="@category.Id">
                    @category.Name
                </option>
            }
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Them moi" />
</EditForm>

@code {
    private CreateProjectViewModel project = new CreateProjectViewModel();

    private async Task AddProject()
    {
        var newId = await ProjectService.CreateProject(project);

        NavigationManager.NavigateTo("/hoat-dong");
    }

    protected override async Task OnInitializedAsync()
    {
        project.Categories = await CategoryService.GetAllCategories();
    }
}