<div class="@(HaveSearchBox ? "d-block" : "d-none")">
    <h3 class="text-center">Tìm kiếm <span>Tình nguyện viên</span></h3>
</div>
@* search box component *@
<div class="col-lg-8 @(HaveSearchBox ? "d-block" : "d-none")">
    <VMS.Pages.ActivitySearchPage.SearchBox SearchValueChanged="OnSearchValueChangedAsync" />
</div>

<p class="mt-5 @(HaveSearchBox ? "d-block" : "d-none")">Lọc tình nguyện viên</p>

<div class="filter-bar d-flex my-4">
    <div class="filter-bar_left d-flex me-3">
        <div class="filter-bar_row-1">
            <div class="filter-item position-relative">
                <input @onclick="ToggleCourseDropdown" @onfocusout="CloseCourseDropdown" class="popup-btn @(isCourseGrey ? "bg-grey" : "")" placeholder="@courseChoosenValue" readonly />
                <div @onclick:preventDefault class="my-dropdown" style="display: @(isCourseShow ? "block" : "none")">
                    <ul>
                        <li @onclick="ChooseCourseValue">Khóa 44</li>
                        <li @onclick="ChooseCourseValue">Khóa 45</li>
                        <li @onclick="ChooseCourseValue">Khóa 46</li>
                        <li @onclick="ChooseCourseValue">Khóa 47</li>
                    </ul>
                </div>
                <span class="material-icons-outlined position-absolute filter-item__icon">
                    expand_more
                </span>
            </div>
            <div class="filter-item position-relative">
                <div @onclick="ShowAreasPopupAsync" class="popup-btn @(filter.Areas.Count != 0 ? "bg-grey" : "")">Lĩnh vực</div>
                <span class="material-icons-outlined position-absolute filter-item__icon">
                    expand_more
                </span>
            </div>
        </div>

        <div class="filter-bar_row-2">
            <div class="filter-item position-relative">
                <div @onclick="ShowSkillsPopupAsync" class="popup-btn @(filter.Skills.Count != 0 ? "bg-grey" : "")">Kỹ năng</div>
                <span class="material-icons-outlined position-absolute filter-item__icon">
                    expand_more
                </span>
            </div>

            <div class="filter-item position-relative">
                <input @onclick="ToggleFacultyDropdown" @onfocusout="CloseFacultyDropdown" class="popup-btn @(isFacultyGrey ? "bg-grey" : "")" placeholder="@facultyChoosenValue" readonly />
                <div @onclick:preventDefault class="my-dropdown" style="display: @(isFacultyShow ? "block" : "none")">
                    <ul>
                        @if (faculties is not null)
                        {
                            @foreach (var item in faculties)
                            {
                                <li @onmousedown="() => ChooseFacultyValue(item)">@item.Name</li>
                            }
                        }
                    </ul>
                </div>
                <span class="material-icons-outlined position-absolute filter-item__icon">
                    expand_more
                </span>
            </div>
        </div>

    </div>
    <div class="filter-bar_right d-flex">
        <button @onclick="UpdateFilterValueAsync" class="filter-btn me-3">Lọc</button>
        <button @onclick="ClearFilterAsync" class="clear-filter-btn">Xóa lọc</button>
    </div>
</div>

@code {

}
