<div class="search-and-button">
    <VMS.Pages.ActivitySearchPage.SearchBox SearchValue="@searchValue" SearchValueChanged="SearchValueChangedAsync"></VMS.Pages.ActivitySearchPage.SearchBox>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Danh sách&#160;
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <div class="dropdown-item dropdown-item__download"  @onclick="DowLoad">
                    Tải xuống
                    <span class="material-icons-outlined"> get_app </span>
                </div>
            </li>
            <li>
                <div for="update-list" class="dropdown-item dropdown-item__upload" @onclick="ShowUploadAsync">
                    Cập nhật
                    <span class="material-icons-outlined"> upload </span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container @(navDel ? "d-block" : "d-none")">
    <div class="my-container">
        <p class="quantity-volunteers">Có <span>@Quantity</span> tình nguyện viên ứng với kết quả tìm kiếm của bạn</p>
        <div class="button">
            <button @onclick="@(() => ShowConfirmAsync())" class="button__text button__text--del">Xóa nhiều</button>
        </div>
        <div class="link">
            <h4 @onclick="ChangeNavAsync" class="link__text link__text--del">Danh sách xóa</h4>
        </div>
    </div>
</div>

<div class="container @(navUndo ? "d-block" : "d-none")">
    <div class="my-container">
        <h4 class="quantity-volunteers">Có <span>@Quantity</span> tình nguyện viên ứng với kết quả tìm kiếm của bạn</h4>
        <div class="button">
            <button @onclick="@(() => ShowConfirmAsync())" class="button__text button__text--undo">Chọn lại</button>
        </div>
        <div class="link">
            <h4 @onclick="ChangeNavAsync" class="link__text link__text--undo">Xem danh sách</h4>
        </div>
    </div>
</div>


@code {
}
