@layout AdminLayout

@attribute [Route(Routes.AdminFeatureSuggestionManagement)]
@attribute [Authorize(Roles = "Admin")]
@inject IJSRuntime JS;
@using VMS.GenericRepository;
@using Blazored.Modal;
@using VMS.Application.ViewModels;
@using VMS.Application.Interfaces;

@using Microsoft.AspNetCore.Components;
@using System.Collections.Generic;
@using System.Threading.Tasks;

<div class="my-option px-5 mt-5">
    <div class="d-flex align-items-center mb-5">
        <button @onclick="() => OnChooseType(true)" class="btn btn-area me-2 @(isArea? "btn-border-bottom":"")">Lĩnh vực</button>
        <button @onclick="() => OnChooseType(false)" class="btn btn-skill me-5 @(isArea? "":"btn-border-bottom")">Kỹ năng</button>
        <div class="btn btn-addVideo d-flex align-items-center">
            <i class="material-icons-outlined icon-add me-1">
                add_circle
            </i>
            <span @onclick="ShowModalAddVideoAsync">Thêm video vào trang chủ</span>
        </div>
    </div>
    <div class="d-flex align-items-center" style="float:right">
        <div class="btn btn-add d-flex align-items-center me-4">
            <i class="material-icons-outlined icon-add me-1">
                add_circle
            </i>
            <span @onclick="ShowOptionAsync">@(isArea ? "Thêm lĩnh vực" : "Thêm kỹ năng")</span>
        </div>
        <button @onclick="OnClickShowCheck" class="btn btn-choose me-4 @(isShowCheck? "btn-uncheck" : "")">Chọn</button>
        <button @onclick="ShowPopupDeleteAsync" class="btn btn-delete">Xóa</button>
    </div>
</div>
<div class="my-areas @(isArea ? "d-block" : "d-none") px-5 ">
    <ListArea ChosenListChanged="OnChosenAreasChanged" ChosenAreas="chosenAreas" ShowCheckbox="isShowCheck" />
</div>

<div class="my-skills px-5 @(!isArea ? "d-block" : "d-none")">
    <ListSkills ShowCheckbox="isShowCheck" ChosenSkills="chosenSkills" ChosenListChanged="OnChosenSkillsChanged" />
</div>

@code {
}
