@layout AdminLayout

@attribute [Route(Routes.AdminFeatureSuggestionManagement)]
@attribute [Authorize(Roles = "Admin")]
@inject IJSRuntime JS;
@using VMS.GenericRepository;
@using Blazored.Modal;
@using VMS.Application.ViewModels;
@using VMS.Application.Interfaces;

@using Microsoft.AspNetCore.Components;
@using System.Collections.Generic;
@using System.Threading.Tasks;

<div class="my-option px-5 mt-5">
    <span class="d-flex align-items-center mb-5 grButton">
        <button @onclick="() => OnChooseType(1)" class="me-2 btn btn-area @(isArea? "btn-clicked":"")">Lĩnh vực</button>
        <button @onclick="() => OnChooseType(2)" class="me-2 btn btn-skill @(isSkill? "btn-clicked":"")">Kỹ năng</button>
        <button @onclick="() => OnChooseType(3)" class="me-2 btn @(isLevel? "btn-clicked":"")">Cấp</button>
        <button @onclick="() => OnChooseType(4)" class="me-2 btn @(isCourse? "btn-clicked":"")">Khóa</button>
        <button @onclick="() => OnChooseType(5)" class="me-2 btn @(isDepartment? "btn-clicked":"")">Khoa</button>
        <button @onclick="() => OnChooseType(6)" class="btn @(isBanner? "btn-clicked":"")">Banner</button>
    </span>
    @if (isArea == true || isSkill == true)
    {
        <div class="d-flex align-items-center" style="float:right">
            <div class="btn btn-add d-flex align-items-center me-4">
                <i class="material-icons-outlined icon-add me-1">
                    add_circle
                </i>
                <span @onclick="ShowOptionAsync">@(isArea ? "Thêm lĩnh vực" : "Thêm kỹ năng")</span>
            </div>
            <button @onclick="OnClickShowCheck" class="btn btn-choose me-4 @(isShowCheck? "btn-uncheck" : "")">Chọn</button>
            <button @onclick="ShowPopupDeleteAsync" class="btn btn-delete">Xóa</button>
        </div>
    }
</div>

<div class="my-areas @(isArea ? "d-block" : "d-none") px-5 ">
    <ListArea ChosenListChanged="OnChosenAreasChanged" ChosenAreas="chosenAreas" ShowCheckbox="isShowCheck" />
</div>
<div class="my-skills px-5 @(isSkill ? "d-block" : "d-none")">
    <ListSkills ShowCheckbox="isShowCheck" ChosenSkills="chosenSkills" ChosenListChanged="OnChosenSkillsChanged" />
</div>
<div class="px-5 @(isLevel ? "d-block" : "d-none")">
    Đây là chỗ chỉnh sửa Cấp
</div>
<div class="px-5 @(isCourse ? "d-block" : "d-none")">
    Đây là chỗ chỉnh sửa Khoá
</div>
<div class="px-5 @(isDepartment ? "d-block" : "d-none")">
    Đây là chỗ chỉnh sửa Khoa
</div>
<div class="my-banner px-5 @(isBanner ? "d-block" : "d-none")">
    <div class="btn btn-addVideo d-flex align-items-center">
        <i class="material-icons-outlined icon-add me-1">
            add_circle
        </i>
        <span @onclick="ShowModalAddVideoAsync">Thêm video vào trang chủ</span>
    </div>
</div>
@code {
}
