<div class="row">
    <div class="text-result mb-5">Có <span>@data?.TotalItems</span> hoạt động tương ứng với kết quả tìm kiếm của bạn.</div>
</div>
@if (data != null && data.TotalItems != 0)
{
    @foreach (var item in data.Items)
    {
        <div class="org-card" style="z-index:@(item.Id == rateId ? "2" : "auto"); display:@(item.IsDeleted ? "none" : "flex"); opacity: @(item.IsClosed? 0.75 : 1)">
            <div class="org-card__btn-edit btn" @onclick="() => ChangeDropdownState(item.Id)">
                <span class="material-icons-outlined">
                    more_horiz
                </span>
                <ul class="org-card__btn-edit__list card-list" style="display:@(item.Id == dropdownId ? "inline-block" : "none");">
                    <li class="item-1">Chỉnh sửa</li>
                    <li class="item-2" @onclick="@(() => ChangeDeleteState(item))">Xóa</li>
                    <li class="item-3" @onclick="@(() => ChangeCloseState(item))">Đóng hoạt động</li>
                </ul>
            </div>
            <div class="org-card__img">
                <img src="@item.Banner" alt="photo">
            </div>
            <div class="org-card__info">
                <div class="org-card__info__title">
                    <a href="@Routes.ActivityInfo/@item.Id">@item.Name</a>
                </div>
                <div class="org-card__info__rate">
                    <span class="material-icons-outlined" style="color:@(item.Rate >= 1 ? "#EDF131" : "#B4B4B4")">
                        star@(HaftStar(item.Rate,1)?"_half":"")
                    </span>
                    <span class="material-icons-outlined" style="color:@(item.Rate >= 2 ? "#EDF131" : "#B4B4B4")">
                        star@(HaftStar(item.Rate,2)?"_half":"")
                    </span>
                    <span class="material-icons-outlined" style="color:@(item.Rate >= 3 ? "#EDF131" : "#B4B4B4")">
                        star@(HaftStar(item.Rate,3)?"_half":"")
                    </span>
                    <span class="material-icons-outlined" style="color:@(item.Rate >= 4 ? "#EDF131" : "#B4B4B4")">
                        star@(HaftStar(item.Rate,4)?"_half":"")
                    </span>
                    <span class="material-icons-outlined" style="color:@(item.Rate >= 5 ? "#EDF131" : "#B4B4B4")">
                        star@(HaftStar(item.Rate,5)?"_half":"")
                    </span>
                </div>
                <div class="org-card__info__desc">
                    @item.Description
                </div>
                <div class="org-card__info__date">
                    Ngày đăng: <span>@item.CreatedDate</span>
                </div>
                <div class="org-card__info__joiner">
                    <div class="org-card__info__joiner__icon">
                        <span class="material-icons">
                            person
                        </span>
                    </div>
                    <div class="org-card__info__joiner__sum">
                        @item.MemberQuantity
                    </div>
                </div>
            </div>
            <div class="org-card__btn-list card-btn">
                Xem danh sách
            </div>
            <div class="org-card__cbb-rate card-btn">
                <div href="#" class="org-card__cbb-rate__title" @onclick="() => ChangeRateState(item.Id)">Đánh giá</div>
                <span class="material-icons-outlined expand-icon" @onclick="() => ChangeRateState(item.Id)">
                    expand_more
                </span>
                <ul class="org-card__cbb-rate__list card-list" style="display:@(item.Id == rateId ? "inline-block" : "none");">
                    <li>Tình nguyện viên</li>
                    <li>Đánh giá hoạt động</li>
                </ul>
            </div>
            @*--------------------Confirm------------------- *@
            <div class="popup-container" style="display:@(item.Id == confirmDeleteId ? "initial" : "none")">
                <div class="org-card__del-confirm confirm">
                    <div class="close-icon" @onclick="() => ResetState()">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </div>
                    <div class="content --del">
                        Bạn có chắc chắn muốn<br />
                        <span>xóa hoạt động</span> này không?
                    </div>
                    <div class="btn-yes card-btn" @onclick="() => ChangeDeleteState(item)">
                        Xác nhận
                    </div>
                    <div class="btn-cancel card-btn" @onclick="() => ResetState()">
                        Hủy
                    </div>
                </div>
            </div>
            <div class="popup-container" style="display:@(item.Id == confirmCloseId ? "initial" : "none")">
                <div class="org-card__close-confirm confirm" style="display:@(item.Id == confirmCloseId ? "initial" : "none")">
                    <div class="close-icon" @onclick="@(() => ResetState())">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </div>
                    <div class="content --close">
                        Bạn có chắc chắn muốn<br />
                        <span>đóng hoạt động</span> này không?
                    </div>
                    <div class="btn-yes card-btn" @onclick="@(() => ChangeCloseState(item))">
                        Xác nhận
                    </div>
                    <div class="btn-cancel card-btn" @onclick="@(() => ResetState())">
                        Hủy
                    </div>
                </div>
            </div>
            @*-----------------Popup--------------*@
            <div class="popup-container" style="display:@(item.Id == popupClose ? "initial" : "none")">
                <div class="org-card__close-succ notify --close">
                    <div class="close-icon">
                        <span class="material-icons-outlined" @onclick="() => ResetState()">
                            close
                        </span>
                    </div>
                    <div class="content">Đóng hoạt động thành công!</div>
                </div>
            </div>
            <div class="popup-container" style="display:@(item.Id == popupDelete ? "initial" : "none")">
                <div class="org-card__del-succ notify --del">
                    <div class="close-icon" @onclick="@(()=> ResetState())">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </div>
                    <div class="content">Xóa hoạt động thành công!</div>
                </div>
            </div>
        </div>
    }
}

<div class="pagination-org">
    <Pager CurrentPage="@data.PageIndex"
           PageCount="@data.TotalPages"
           OnPageChanged="@(async (e)=> { page = e; await HandlePageChanged(true); })" />
</div>

@code {
    private bool HaftStar(double rate, int star)
    {
        if (rate - star >= 0.5 && rate - star < 1)
        {
            return true;
        }
        return false;
    }
}
