<div class="modal-backdrop modal-dialog-centered justify-content-center">
    <div class="my-custom-popup position-relative d-flex flex-column justify-content-between align-items-center">
        <span @onclick="CloseModalAsync" class="material-icons-outlined close-btn">
            close
        </span>

        <h3 class="text-center mt-4 mb-3">Lĩnh vực</h3>
        <div class="col-10 areas-modal-content">
            <div class="areas-modal-content__container">
                @if (areas is not null)
                {
                    @foreach (var area in areas)
                    {
                        <div class="area-item-wrapper d-flex align-items-center mb-2 @(area.IsPinned ? "covid-item" : "")">
                            <div @onclick="() => ChangeState(area)" class="@(area.IsPinned ? "material-icons-outlined" : "material-icons") d-flex align-items-center justify-content-center"  style="@(area.IsPinned ? "background-color: #f14747" : "")">
                                @area.Icon
                            </div>
                            <p @onclick="() => ChangeState(area)" class="mb-0 ms-2 @(choosenAreas.Exists(a => a.Id == area.Id) ? (area.IsPinned ? "colored-red" : "colored-green") : "")">@area.Name</p>
                        </div>
                    }
                }
            </div>
        </div>
        <div @onclick="SaveModalAsync" class="save-btn d-flex justify-content-center align-items-center">Lưu</div>

    </div>
</div>

@code {
    bool isCovidChoosen = false;
    void ChangeCovid()
    {
        isCovidChoosen = !isCovidChoosen;
    }
}
