<section class="my-act">
    <div class="container">
        <div class="row">
            <div class="act col-8 ps-0" id="act">
                <h3>Có <span>@(pagedResult is null ? "0" : pagedResult.RowCount) hoạt động</span> đang cần tình nguyện viên ứng với kết quả tìm kiếm</h3>
                <div class="px-2">
                    <div class="act__page-1">
                        @if (pagedResult is not null && pagedResult.Results.Count != 0)
                        {
                            @foreach (var item in pagedResult.Results)
                            {
                                <div class="act__item row">
                                    <div class="col-4 h-100">
                                        <img class="w-100 h-100" src="@item.Banner" alt="">
                                    </div>
                                    <div class="col-8 act__content">
                                        <a href="@Routes.ActivityInfo/@item.Id" class="lmtext-3">@item.Name</a>
                                        <h5>
                                            <i class="material-icons">public</i> @item.Organizer?.FullName
                                        </h5>
                                        <p class="lmtext-2">@((MarkupString)item.Description)</p>
                                        <span>Ngày đăng: @item.PostDate.ToString("dd/MM/yyyy")</span>
                                        <AuthorizeView>
                                            <Authorized>
                                                <div class="act__signUp">
                                                    <i @onclick="() => HandleFavorite(item.Id)" class="material-icons">@(currentUser.Favorites.Any(f => f.ActivityId == item.Id) ? "favorite" : "favorite_border")</i>

                                                    <button @onclick="() => ShowModal(item.Id)" class="btn">Đăng kí</button>
                                                </div>
                                            </Authorized>
                                        </AuthorizeView>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <a class="goToDivAct d-none " href="#act">go to div act</a>
            </div>
            <div class="col-3 ms-auto">
                <FeaturedAct FeaturedActivities=@featuredActivities></FeaturedAct>
            </div>
        </div>
    </div>
</section>

<Pager CurrentPage="@pagedResult.CurrentPage"
       PageCount="@pagedResult.PageCount"
       OnPageChanged="@(async (e)=> { page = e; await HandlePageChanged(); })" />

@code {
}