<Spinner IsLoading="isLoading" />

<section class="my-act">
    <div class="container">
        <div class="row">
            <div class="act col-12 col-xl-8 ps-0" id="act">
                <h3>Có <span>@(pagedResult is null ? "0" : pagedResult.TotalItems) hoạt động</span> đang cần tình nguyện viên ứng với kết quả tìm kiếm</h3>
                <div class="px-2">
                    <div class="act__page-1">
                        @if (pagedResult is not null && pagedResult.TotalItems != 0)
                        {
                            @foreach (var item in pagedResult.Items)
                            {
                                <div class="act__item row">
                                    <div class="col-4 h-100 d-flex align-items-center ">
                                        <img class="w-100" src="@item.Banner" alt="">
                                    </div>
                                    <div class="col-8 act__content d-flex flex-column justify-content-between ">
                                        <div>
                                            <a href="@Routes.ActivityInfo/@item.Id" class="lmtext-2">@item.Name</a>
                                            <a href="@Routes.OrgProfile/@item.OrgId">
                                                <h5 class="org-name">
                                                    <i class="material-icons">public</i> @item.Organizer?.FullName
                                                </h5>
                                            </a>
                                            <p class="lmtext-2 act__content-description">@((MarkupString)item.Description)</p>
                                            <div class="act_content-date d-flex flex-column mb-1">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex  mb-lg-1 mb-0 align-items-center">
                                                        <span class="material-icons-outlined me-2 my-icon">
                                                            assignment
                                                        </span>
                                                        <span class="icon-tooltip">Hạn đăng ký</span>
                                                        <span>@item.CloseDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    @if (item.IsDay)
                                                    {
                                                        <div class="col-6 d-flex mb-lg-1 mb-0 align-items-center div-volunteer">
                                                            <i class="material-icons-outlined icon-check">
                                                                check_circle
                                                            </i>
                                                            <span class="ms-2">Số ngày tình nguyện: @item.NumberOfDays</span>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex  mb-lg-1 mb-0 align-items-center">
                                                        <span class="material-icons-outlined me-2 my-icon">
                                                            today
                                                        </span>
                                                        <span class="icon-tooltip">Ngày diễn ra</span>
                                                        <span>@item.StartDate.ToString("dd/MM/yyyy") - @item.EndDate.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    @if (item.IsPoint)
                                                    {
                                                        <div class=" col-6 d-flex mb-lg-1 mb-0 align-items-center div-volunteer">
                                                            <i class="material-icons-outlined icon-check">
                                                                check_circle
                                                            </i>
                                                            <span class="ms-2">Điểm rèn luyện</span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-end">
                                            <div class="act__signUp d-flex align-items-center">
                                                <AuthorizeView Roles="@($"{Role.User}")">
                                                    <i @onclick="() => HandleFavorite(item.Id)" class="material-icons">@(currentUser.Favorites.Any(f => f.ActivityId == item.Id) ? "favorite" : "favorite_border")</i>

                                                    @if (IsSignupTimeExpired(item))
                                                    {
                                                        <button class="btn bg-grey">Đăng ký</button>
                                                    }
                                                    else
                                                    {
                                                        <button @onclick="() => ShowSignupAsync(item.Id)" class="btn">Đăng ký</button>
                                                    }
                                                </AuthorizeView>
                                                <AuthorizeView>
                                                    <NotAuthorized>
                                                        <button @onclick="() => ShowRequireSignup()" class="btn">Đăng ký</button>
                                                    </NotAuthorized>
                                                </AuthorizeView>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <a class="goToDivAct d-none " href="#act">go to div act</a>
            </div>
            <div class="col-3 ms-auto d-none d-xl-block">
                <FeaturedAct FeaturedActivities=@featuredActivities></FeaturedAct>
            </div>
        </div>
    </div>
</section>

<Pager CurrentPage="@pagedResult.PageIndex"
       PageCount="@pagedResult.TotalPages"
       OnPageChanged="@(async (e)=> { page = e; await HandlePageChanged(); })" />

@code {
}