@using VMS.Application.ViewModels
@inject IJSRuntime JSRuntime

<div class="heading-container">

<h3 class="mt-5 mb-4 text-uppercase page-heading">We do it <span>together!</span></h3>
<SearchBox SearchValue="SearchValue" />
</div>
<div class="d-flex align-items-center mb-3">
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input @bind=Filter.Virtual class="my-check-box cursor-pointer" type="checkbox" id="virtual">
        <label class="my-check-box-label cursor-pointer" for="virtual">Virtual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input @bind=Filter.Actual class="my-check-box cursor-pointer" type="checkbox" id="actual" value="actual">
        <label class="my-check-box-label cursor-pointer" for="actual">Actual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center p-0">
        <input class="my-check-box cursor-pointer" type="checkbox" id="covid-19" value="actual">
        <label class="my-check-box-label cursor-pointer colored-red" for="covid-19">COVID-19
            <svg aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M224 192a16 16 0 1 0 16 16a16 16 0 0 0-16-16zM466.5 83.68l-192-80A57.4 57.4 0 0 0 256.05 0a57.4 57.4 0 0 0-18.46 3.67l-192 80A47.93 47.93 0 0 0 16 128c0 198.5 114.5 335.72 221.5 380.32a48.09 48.09 0 0 0 36.91 0C360.09 472.61 496 349.3 496 128a48 48 0 0 0-29.5-44.32zM384 256h-12.12c-28.51 0-42.79 34.47-22.63 54.63l8.58 8.57a16 16 0 1 1-22.63 22.63l-8.57-8.58c-20.16-20.16-54.63-5.88-54.63 22.63V368a16 16 0 0 1-32 0v-12.12c0-28.51-34.47-42.79-54.63-22.63l-8.57 8.58a16 16 0 0 1-22.63-22.63l8.58-8.57c20.16-20.16 5.88-54.63-22.63-54.63H128a16 16 0 0 1 0-32h12.12c28.51 0 42.79-34.47 22.63-54.63l-8.58-8.57a16 16 0 0 1 22.63-22.63l8.57 8.58c20.16 20.16 54.63 5.88 54.63-22.63V112a16 16 0 0 1 32 0v12.12c0 28.51 34.47 42.79 54.63 22.63l8.57-8.58a16 16 0 0 1 22.63 22.63l-8.58 8.57c-20.16 20.16-5.88 54.63 22.63 54.63H384a16 16 0 0 1 0 32zm-96 0a16 16 0 1 0 16 16a16 16 0 0 0-16-16z" fill="currentColor" /></svg>
        </label>
    </div>
</div>

<div class="filter-bar d-flex justify-content-between mb-5">
    <div class="filter-item filter-item-city position-relative">
        <input @onclick="ToggleCityDropdown" @onfocusout="CloseCityDropdown" class="popup-btn @(Filter.ProvinceId != 0 ? "bg-grey" : "")" placeholder="@cityChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isCityShow ? "block" : "none")">
            <ul>
                @if (provinces is not null)
                {
                    @foreach (var province in provinces)
                    {
                        <li @onmousedown="() => ChooseCityValue(province)">@province.Name</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-district position-relative">
        <input @onclick="ToggleDistrictDropdown" @onfocusout="CloseDistrictDropdown" class="popup-btn @(Filter.DistrictId != 0 ? "bg-grey" : "")" placeholder="@districtChoosenValue" readonly />
        <div class="my-dropdown" style="display: @(isDistrictShow ? "block" : "none")">
            <ul>
                @if (districts is not null)
                {
                    @foreach (var district in districts)
                    {
                        <li @onmousedown="() => ChooseDistrictValue(district)">@district.Name</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-organization position-relative">
        <input @onclick="ToggleOrganizationDropdown" @onfocusout="CloseOrganizationDropdown" class="popup-btn @(!string.IsNullOrEmpty(Filter.OrgId)?"bg-grey":"")" placeholder="@organizationChoosenValue" readonly />
        <div class="my-dropdown" style="display: @(isOrganizationShow ? "block" : "none")">
            <ul>
                @if (organizers is not null)
                {
                    @foreach (var org in organizers)
                    {
                        <li @onmousedown="() => ChooseOrganizationValue(org)">@org.FullName</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowAreasPopupAsync" class="popup-btn @(Filter.Areas.Count != 0 ? "bg-grey" : "")">Lĩnh vực</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowSkillsPopupAsync" class="popup-btn @(Filter.Skills.Count != 0? "bg-grey" : "")">Kỹ năng</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <button @onclick="UpdateFilterValueAsync" class="filter-btn">Lọc</button>
    <button @onclick="ClearFilter" type="button" class="clear-filter-btn">Xóa lọc</button>
</div>


<div class="arrange-bar d-flex align-items-center">
    <label class="d-inline-block m-0 me-5">Sắp xếp theo</label>
    @foreach (var item in orderDatas)
    {
        <div class="d-flex align-items-center ps-0 pe-5">
            @if (OrderList[item.OrderBy])
            {
                <input @onchange='() => ChangeOrderAsync(item.OrderBy)' class="my-radio-box cursor-pointer" type="checkbox" checked id="@item.OrderBy">
            }
            else
            {
                <input @onchange='() => ChangeOrderAsync(item.OrderBy)' class="my-radio-box cursor-pointer" type="checkbox" id="@item.OrderBy">
            }
            <label class="my-radio-box-label cursor-pointer" for="@item.OrderBy">@item.Name</label>
        </div>
    }
</div>


@code {
}
