@using VMS.Application.ViewModels
@inject IJSRuntime JSRuntime

<div class="d-flex align-items-center mb-3">
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input @bind=Filter.Virtual class="my-check-box cursor-pointer" type="checkbox" id="virtual">
        <label class="my-check-box-label cursor-pointer" for="virtual">Virtual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center ps-0 pe-5">
        <input @bind=Filter.Actual class="my-check-box cursor-pointer" type="checkbox" id="actual" value="actual">
        <label class="my-check-box-label cursor-pointer" for="actual">Actual</label>
    </div>
    <div class="form-check form-check-inline d-flex align-items-center p-0">
        <input class="my-check-box cursor-pointer" type="checkbox" id="covid-19" value="actual">
        <label class="my-check-box-label d-flex align-items-center cursor-pointer colored-red" for="covid-19">
            COVID-19
            <span class="material-icons-outlined">
                coronavirus
            </span>
        </label>
    </div>
</div>

<div class="filter-bar d-flex justify-content-between mb-5">
    <div class="filter-item filter-item-city position-relative">
        <input @onclick="ToggleCityDropdown" @onfocusout="CloseCityDropdown" class="popup-btn @(Filter.ProvinceId != 0 ? "bg-grey" : "")" placeholder="@cityChoosenValue" readonly />
        <div @onclick:preventDefault class="my-dropdown" style="display: @(isCityShow ? "block" : "none")">
            <ul>
                @if (provinces is not null)
                {
                    @foreach (var province in provinces)
                    {
                        <li @onmousedown="() => ChooseCityValue(province)">@province.Name</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-district position-relative">
        <input @onclick="ToggleDistrictDropdown" @onfocusout="CloseDistrictDropdown" class="popup-btn @(Filter.DistrictId != 0 ? "bg-grey" : "")" placeholder="@districtChoosenValue" readonly />
        <div class="my-dropdown" style="display: @(isDistrictShow ? "block" : "none")">
            <ul>
                @if (districts is not null)
                {
                    @foreach (var district in districts)
                    {
                        <li @onmousedown="() => ChooseDistrictValue(district)">@district.Name</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item filter-item-organization position-relative">
        <input @onclick="ToggleOrganizationDropdown" @onfocusout="CloseOrganizationDropdown" class="popup-btn @(!string.IsNullOrEmpty(Filter.OrgId)?"bg-grey":"")" placeholder="@organizationChoosenValue" readonly />
        <div class="my-dropdown" style="display: @(isOrganizationShow ? "block" : "none")">
            <ul>
                @if (organizers is not null)
                {
                    @foreach (var org in organizers)
                    {
                        <li @onmousedown="() => ChooseOrganizationValue(org)">@org.FullName</li>
                    }
                }
            </ul>
        </div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowAreasPopupAsync" class="popup-btn @(Filter.Areas.Count != 0 ? "bg-grey" : "")">Lĩnh vực</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <div class="filter-item position-relative">
        <div @onclick="ShowSkillsPopupAsync" class="popup-btn @(Filter.Skills.Count != 0? "bg-grey" : "")">Kỹ năng</div>
        <span class="material-icons-outlined position-absolute filter-item__icon">
            expand_more
        </span>
    </div>

    <button @onclick="UpdateFilterValueAsync" class="filter-btn">Lọc</button>
    <button @onclick="ClearFilter" type="button" class="clear-filter-btn">Xóa lọc</button>
</div>


<div class="arrange-bar d-flex align-items-center">
    <label class="d-inline-block m-0 me-5">Sắp xếp theo</label>
    @foreach (var item in orderDatas)
    {
        <div class="d-flex align-items-center ps-0 pe-5">
            @if (OrderList[item.OrderBy])
            {
                <input @onchange='() => ChangeOrderAsync(item.OrderBy)' class="my-radio-box cursor-pointer" type="checkbox" checked id="@item.OrderBy">
            }
            else
            {
                <input @onchange='() => ChangeOrderAsync(item.OrderBy)' class="my-radio-box cursor-pointer" type="checkbox" id="@item.OrderBy">
            }
            <label class="my-radio-box-label cursor-pointer" for="@item.OrderBy">@item.Name</label>
        </div>
    }
</div>


@code {
}
