<div class="pop-up">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="pop-up-container pop-up-container--large position-relative border-10 d-flex align-items-center flex-column">
            <div @onclick="CloseModalAsync" class="close-btn position-absolute d-flex justify-content-center align-items-center">
                <span class="material-icons">
                    close
                </span>
            </div>

            <div class="pop-up__title text-center pt-4 pb-2">
                <h3 class="fw-medium mb-0">Hoạt động <span> đã tổ chức</span></h3>
            </div>

            @foreach (var item in pagedResult.Items)
            {
                <div class="pop-up__act p-2 w-75 mb-3">
                    <div class="pop-up__act__title px-1 pt-1 lm-text">
                        <a href="@Routes.AdminActivityInfo/@item.Id">@item.Name</a>
                    </div>
                    <div class="d-flex justify-content-between mt-1">
                        <h5 class="pop-up__act__org d-flex align-items-center mb-0">
                            <i class="material-icons me-1">public</i>
                            <a href="@Routes.AdminOrganizationProfile/@item.OrgId">
                                @item.Organizer?.FullName
                            </a>
                        </h5>
                        <h5 class="fw-normal mb-0">Ngày đăng: @item.CreatedDate.ToString("dd/MM/yyyy")</h5>
                    </div>
                </div>
            }
            <div class="my-pagination-container">
                <Pager CurrentPage="@pagedResult.PageIndex"
                       PageCount="@pagedResult.TotalPages"
                       OnPageChanged="@(async (e) => { page = e; await HandlePageChangedAsync(); })"
                       IsUsedForPopup="true" />
            </div>
        </div>
    </div>
</div>

@code {
}
