@inject IJSRuntime JS;

<div class="container">
    <div class="row act">
        <h1 class="mb-5">Hoạt động <span>@Title</span></h1>
        @if (Datas is not null)
        {
            <div class="@(Datas.Count >4 ? "owl-carousel owl-theme organize__carousel" : "d-flex ") position-relative">
                @foreach (var item in Datas)
                {
                    <div class="@(Datas.Count >4 ? "" : "w-25 mx-2") act-container item position-relative">
                        <div class="img-container position-relative">
                            <img src="@item?.Banner" alt="" class="act-img">
                            <div class="@(item.IsClosed ? "overlay" : "")"></div>
                        </div>
                        <div class="act-content @(OverridesImg ? "position-absolute act-content-overrides ":"" )">
                            <a href="@Routes.ActivityInfo/@item.Id" class="@(item.IsClosed ? "content-cl" : "content-nm")">
                                <h3 class="act-title mb-0 lm-text @(item.IsClosed ? "title-cl" : "title-nm")">@item?.Name</h3>
                            </a>
                        </div>
                        <ul class="act-menu p-2 @(item.IsMenu ? "d-block" : "d-none")">
                            <a href="@Routes.EditActivity" class="edit pb-2 text-decoration-none">Chỉnh sửa</a>
                            <li @onclick="(() => ShowDeleteModalAsync(item.Id))" class="delete pb-2">Xóa</li>
                            <li @onclick="(() => ShowCloseModalAsync(item.Id))" class="close pb-2">@(item.IsClosed ? "Mở hoạt động" : "Đóng hoạt động")</li>
                        </ul>
                        @if (HaveControl)
                        {
                            <i @onclick="() => ShowMenu(item.Id)" class="material-icons position-absolute">
                                more_horiz
                            </i>
                        }


                        @if (HaveHeart)
                        {
                            <span class="material-icons-outlined icon-favorite position-absolute" @onclick="(() => ShowLoginRequire())">
                                favorite
                            </span>
                        }
                        @* Phần này của Bằng e không đụng tới *@

                        @if (HaveFav)
                        {
                            <a class="position-absolute favorite" @onclick="() => AnimateHeart(item.Id)">
                                <span class="material-icons @(item.IsFav ? "isfav" : "nonefav")">@(item.IsFav ? "favorite" : "favorite_border")</span>
                            </a>
                        }
                    </div>
                }
            </div>
        }

        @if (HaveBorder)
        {
            @if (HaveDecor)
            {
                <div class="col-8">
                    <hr class="bottom-line my-5" />
                </div>
            }
            else
            {
                <div class="col-8 ms-auto">
                    <hr class="bottom-line  my-5" />
                </div>
            }
        }

        @if (HaveLinkAll)
        {
            <div class="act__linkAll text-end mb-5 pb-5">
                <a>Xem tất cả >>></a>
            </div>
        }
    </div>
</div>