@inject IJSRuntime JS;

<div class="container">
    <div class="row act">
        <h1>Hoạt động <span>@Title</span></h1>
        <div class="owl-carousel owl-theme organize__carousel position-relative">
            @foreach (var item in Datas)
            {
                    <div class="act-container item position-relative">
                        <div class="img-container position-relative">
                            <img src="@item.Banner" alt="" class="act-img">
                            <div class="@(item.IsClosed ? "overlay" : "")"></div>
                        </div>
                        <div class="act-content">
                            <a href="@Routes.ActivityInfo" class="@(item.IsClosed ? "content-cl" : "content-nm")">
                                <h3 class="act-title lm-text @(item.IsClosed ? "title-cl" : "title-nm")">@item.Name</h3>
                            </a>
                        </div>
                        @if (Owner == true)
                        {
                            <ul class="act-menu p-2 @(item.IsMenu ? "d-block" : "d-none")">
                                <li class="edit pb-2">Chỉnh sửa</li>
                                <li @onclick="DeleteConfirm" class="delete pb-2">Xóa</li>
                                <li @onclick="CloseConfirm" class="close pb-2">Đóng hoạt động</li>
                            </ul>
                            @if (HaveControl)
                            {
                                <i @onclick="() => ShowMenu(item.Id)" class="material-icons position-absolute @(item.IsClosed ? "d-block" : "")">
                                    more_horiz
                                </i>
                            }
                        }

                    </div>
            }
        </div>
        @if (HaveDecor)
        {
            <div class="col-8">
                <div class="bottom-line"></div>
            </div>
        }
        else
        {
            <div class="col-8 ms-auto">
                <div class="bottom-line"></div>
            </div>
        }
    </div>
</div>

<div class="pop-up @(isDeleteConfirm ? "d-block" : "d-none")">
    <div class="center-screen ">
        <div class="pop-up-container border-10">
            <div @onclick="DeleteConfirm" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>Bạn có chắc chắn muốn</h3>
                <h3><span class="delete-text">xóa hoạt động</span> này không?</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="DeleteConfirm" class="deny">Hủy</div>
                <div @onclick="DeleteSuccess" class="accept">Xác nhận</div>
            </div>
        </div>
    </div>
</div>

<div class="pop-up @(isCloseConfirm ? "d-block" : "d-none")">
    <div class="center-screen">
        <div class="pop-up-container border-10">
            <div @onclick="CloseConfirm" class="close-btn">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="content">
                <h3>Bạn có chắc chắn muốn</h3>
                <h3><span class="close-text">đóng hoạt động</span> này không?</h3>
            </div>
            <div class="pop-up-btn">
                <div @onclick="CloseConfirm" class="deny">Hủy</div>
                <div @onclick="CloseSuccess" class="accept">Xác nhận</div>
            </div>
        </div>
    </div>
</div>

<div class="pop-up @(isDeleteSuccess ? "d-block" : "d-none")">
    <div class="center-screen">
        <div class="pop-up-container border-10">
            <div @onclick="DeleteSuccess" class="close-btn-s">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content">
                <h3 class="delete-act">Xoá thành công!</h3>
            </div>
        </div>
    </div>
</div>

<div class="pop-up @(isCloseSuccess ? "d-block" : "d-none")">
    <div class="center-screen">
        <div class="pop-up-container border-10">
            <div @onclick="CloseSuccess" class="close-btn-s">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content">
                <h3 class="close-act">Đóng hoạt động thành công!</h3>
            </div>
        </div>
    </div>
</div>

@code {
  
}