@attribute [Route(Routes.EditOrgProfile)]
@attribute [Authorize(Roles = "Organization")]

<div class="my-editProfile">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                @if (isErrorMessageShown)
                {
                    <div class="text-center error-message py-2">Bạn cần điền tất cả thông tin dưới đây để hoàn thiện thông tin</div>
                }
                <h1 class="editProfile__title mt-4 mb-3">Chỉnh sửa <span>thông tin tổ chức</span></h1>
                <div class="editProfile__logo text-center my-5">
                    @if (!string.IsNullOrEmpty(org.Avatar))
                    {
                        <img src="@org.Avatar" alt="">
                    }
                </div>
                <EditForm Model="org" OnValidSubmit="HandleSubmit" OnInvalidSubmit="HandleInvalidSubmit" class="editProfile__form">
                    <DataAnnotationsValidator />

                    <div class="row form-item">
                        <p class="col-4 form-text">Tên tổ chức <span class="required-asterick">(*)</span></p>
                        <div class="col-8 px-0">
                            <InputText @bind-Value="@org.FullName" class="form-input form-control" />
                        </div>
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Gmail <span class="required-asterick">(*)</span></p>
                        <div class="col-8 px-0">
                            <InputText @bind-Value="@org.Email" class="form-input form-control" />
                        </div>
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Điện thoại <span class="required-asterick">(*)</span></p>
                        <div class="col-8 px-0">
                            <InputText @bind-Value="@org.PhoneNumber" class="form-input form-control" />
                        </div>
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Lĩnh vực <span class="required-asterick">(*)</span></p>
                        <div class="col-8 form-field ">
                            <div class="d-flex">
                                @if (choosenAreas.Count < 5)
                                {
                                    width = choosenAreas.Count * 20;
                                    classWidth = "w-" + width;
                                }

                                <div class="@(choosenAreas.Count>4 ?"owl-carousel owl-theme editProfile__carousel w-80" :"d-flex editProfile__NoCarousel ") @classWidth ">
                                    @foreach (var item in choosenAreas)
                                    {
                                        <div class="form-field-item item @(choosenAreas.Count>4 ?"" :"item-NoCaroesel mx-auto")">
                                            <i class="material-icons">@item.Icon</i>
                                            <span>@item.Name</span>
                                        </div>
                                    }
                                </div>

                                <div class="form-field-item  item-add ">
                                    <i class="material-icons-outlined icon-add" @onclick="ShowAreasModal">add</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Tầm nhìn & sứ mệnh <span class="required-asterick">(*)</span></p>
                        <div class="col-8 position-relative px-0">
                            <div class="col-8 px-0 w-100">
                                <InputLimitedTextArea MaxLength="@maxWord" @bind-Value="org.Mission" class="form-input mx-0 form-control" />
                                <p class="countWord text-end mb-0">@CountWord()/@maxWord</p>
                            </div>
                        </div>
                    </div>
                    <div class="row form-item mb-0">
                        <p class="col-4 form-text">Thay đổi ảnh bìa <span class="required-asterick">(*)</span></p>
                        <div class="col-8 px-0 ">
                            <UploadImg InputFileChanged="HandleFileChanged"
                                       ImageDiscarded="HandleImageDiscarded"
                                       PreviewImgSrc="@org.Banner"
                                       ShowPreview="true" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 ms-auto from__btn">
                            <a href="@Routes.OrgProfile" class="btn from__btn-cancel text-decoration-none">Hủy</a>
                            <button type="submit" class="btn from__btn-submit ms-5 d-inline-block blue-btn">Hoàn tất</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<Spinner IsLoading="isLoading" />

@code {

}