@attribute [Route(Routes.EditProfile)]

<div class="my-editProfile">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <h1 class="editProfile__title my-3">Chỉnh sửa <span>thông tin tổ chức</span></h1>
                <div class="editProfile__logo text-center my-5">
                    <img src="img/RelatedActivities/2nd-activity.png" alt="">
                </div>
                <EditForm Model="org" Context="CurrentEditContext" OnValidSubmit="HandleSubmit" class="editProfile__form">
                    <div class="row form-item">
                        <p class="col-4 form-text">Tên tổ chức</p>
                        <div class="col-8 px-0">
                            <div class="d-none">@CurrentEditContext.FieldCssClass(() => org.UserName)</div>
                            <InputText @bind-Value="@org.UserName" class="form-input form-control" />
                        </div>
                      
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Gmail</p>
                        <div class="col-8 px-0">
                            <div class="d-none">@CurrentEditContext.FieldCssClass(() => organization.Email)</div>
                            <InputText @bind-Value="@organization.Email" class="form-input form-control" />
                        </div>
                       
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Điện thoại</p>
                        <div class="col-8 px-0">
                            <div class="d-none">@CurrentEditContext.FieldCssClass(() => organization.Phone)</div>
                            <InputText @bind-Value="@organization.Phone" class="form-input form-control" />
                        </div>
                       
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Lĩnh vực</p>
                        <div class="col-8 form-field ">
                            <div class="d-flex">
                                <div class=" owl-carousel owl-theme editProfile__carousel">
                                    <div class="form-field-item item">
                                        <i class="material-icons">group</i>
                                        <span>Cộng đồng</span>
                                    </div>
                                    <div class="form-field-item item">
                                        <i class="material-icons">group</i>
                                        <span>Cộng đồng</span>
                                    </div>
                                    <div class="form-field-item icon">
                                        <i class="material-icons">group</i>
                                        <span>Cộng đồng</span>
                                    </div>
                                    <div class="form-field-item item">
                                        <i class="material-icons">group</i>
                                        <span>Giáo dục</span>
                                    </div>
                                    <div class="form-field-item item">
                                        <i class="material-icons">group</i>
                                        <span>Thể thao</span>
                                    </div>
                                </div>

                                <div class="form-field-item ms-auto item-add">
                                    <i class="material-icons-outlined icon-add" @onclick="ShowAreasModal">add</i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row form-item">
                        <p class="col-4 form-text">Tầm nhìn & sứ mệnh</p>
                        <div class="col-8 position-relative px-0">
                            <div class="d-none">@CurrentEditContext.FieldCssClass(() => org.Mission)</div>
                            <div class="col-8 px-0 w-100">
                                <InputTextareaOnInput MaxLength="@maxWord" @bind-Value="org.Mission" class="form-input mx-0 form-control" />
                                <p class="countWord text-end mb-0">@CountWord()/@maxWord</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row form-item mb-0">
                        <p class="col-4 form-text">Thay đổi ảnh</p>
                        <div class="col-8 px-0 ">
                            <UploadImg InputFileChanged="FileChanged" ShowPreview="true"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 ms-auto from__btn">
                            <button class="btn from__btn-cancel">Hủy</button>
                            <button type="submit" class="btn from__btn-submit ms-5 @(CurrentEditContext.IsModified() || file != null ? "d-inline-block" : "d-none") ">Hoàn tất</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

}