@inject IJSRuntime JSRuntinme;

<div class="my-information pb-5">
    <div class="container">
        <div class="row ">
            <div class="col-5 text-center information__logo">
                <div class="information__logo-img">
                    <div class=" text-center d-inline-block position-relative">
                        <img src="@Org?.Avatar" alt="Avartar đơn vị">
                        @if (HaveControl)
                        {
                            <label for="myfile" class="d-inline">
                                <svg class="icon-camera" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M10.5 8.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0z" /><path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0z" /></g></svg>
                            </label>
                            <InputFile OnChange="ShowModal" type="file" id="myfile" name="myfile" class="d-none"></InputFile>
                        }

                    </div>
                </div>

                <p class="m-0 text-start">@Org?.FullName</p>
                <span>Tham gia từ năm @Org?.CreatedDate.Year</span>
                @if (HaveControl)
                {
                    <a href="@Routes.CreateActivity" class="information__logo-button">
                        <i class="material-icons-outlined">add</i>
                        <span class="my-0 mx-auto">Tạo hoạt động mới</span>
                    </a>
                }
            </div>
            <div class="col-7 ms-auto my-auto">
                <div class=" pb-4 row-1">
                    <div class="col-left information__rank d-flex justify-content-evenly align-self-center">
                        <a href="@Routes.EditProfile" class="d-flex align-self-center">
                            #@Org?.Rank @*There will be processing code in another place*@
                        </a>
                        <div>
                            <p class="mb-2 d-flex justify-content-evenly align-self-end">
                                <span class="information__rank-number">@Org?.AverageRating</span>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 0 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating,0)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 1 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating,1)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 2 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 2)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 3 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 3)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 4 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 4)?"_half":"")
                                </i>
                            </p>
                            <span>@Org.QuantityRating xếp hạng</span>
                        </div>
                    </div>
                    <div class="col-right information__contact">
                        <p class="d-flex align-self-center">
                            <i class="material-icons">
                                email
                            </i>
                            <a href="mailto:@Org?.Email">@Org?.Email</a>
                        </p>
                        <p class="d-flex align-self-center">
                            <i class="material-icons">
                                contact_phone
                            </i>
                            <a href="tel:@Org?.PhoneNumber">@Org?.PhoneNumber</a>
                        </p>
                    </div>

                </div>
                <div class="row-2 pt-4 align-items-center">
                    <div class="col-left information__fields">
                        <h3>Lĩnh vực <span>chuyên môn</span></h3>
                        <div class="owl-carousel owl-theme information__carousel">
                            @if (Org != null)
                            {
                                @foreach (var area in Org.UserAreas)
                                {
                                    <div class="item">
                                        <i class="material-icons">@area.Area.Icon</i>
                                        <span>@area.Area.Name</span>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="line mx-2"></div>
                    <div class="col-right information__act px-0">
                        <h3>Số hoạt động <span>đã tạo</span></h3>
                        <div class="d-flex justify-content-evenly align-self-center">
                            <span class="information__act-number">@Org?.Activities.Count</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntinme.InvokeVoidAsync("vms.InformationCarousel");
    }
   
}