@inject IJSRuntime JSRuntinme;

<div class="my-information pb-5">
    <div class="container">
        <div class="row px-0 px-sm-0 px-md-0">
            <div class="col-12 col-md-4 text-center information__logo">
                <div class="information__logo-img">
                    <div class=" text-center d-inline-block position-relative">
                        <img src="@(string.IsNullOrEmpty(Org.Avatar) ? "img/Default/avatar.png" : Org.Avatar)" alt="Avartar đơn vị" style="@(IsUsedForAdmin ? "width:150px; height:150px;" : "")">
                        @if (HaveControl)
                        {
                            <label for="myfile" class="d-inline">
                                <svg class="icon-camera" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M10.5 8.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0z" /><path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0z" /></g></svg>
                            </label>
                            <InputFile OnChange="ShowModal" type="file" id="myfile" name="myfile" class="d-none"></InputFile>
                        }

                    </div>
                </div>

                <p class="m-0" style="@(IsUsedForAdmin ? "font-size: 16px" : "")">@Org?.FullName</p>
                <div class="col-left-top d-block d-md-none information__rank ">
                    <div class="d-flex justify-content-center align-self-center">
                        <a href="@Routes.EditOrgProfile" class="d-flex align-self-center me-2 me-md-4 pe-2">
                            #@Org?.Rank @*There will be processing code in another place*@
                        </a>
                        <div class="text-start">
                            <p class="mb-1 mb-md-2 d-flex justify-content-evenly align-self-end">
                                <span class="information__rank-number">@Org?.AverageRating</span>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 0 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating,0)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 1 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating,1)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 2 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 2)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 3 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 3)?"_half":"")
                                </i>
                                <i class="material-icons-outlined" style="color:@(Org.AverageRating > 4 ? "#EDF131" : "#B4B4B4")">
                                    star@(HaftStar(Org.AverageRating, 4)?"_half":"")
                                </i>
                            </p>
                            <span>@Org.QuantityRating xếp hạng</span>
                        </div>
                    </div>

                </div>
                @if (IsOrg)
                {
                    <span @onclick="ShowModalAppellation" class="information__tilte mx-auto my-3" style="@(IsUsedForAdmin ? "font-size: 14px" : "")">@appellation</span>
                }
                else
                {
                    <span class="information__tilte mx-auto my-3" style="@(IsUsedForAdmin ? "font-size: 14px" : "")">@appellation</span>
                }
            </div>
            <div class="col-12 col-md-8 ps-4 ps-xxl-5">
                <div class="row-1 d-flex align-items-center">
                    <div class="col-left-top d-none d-md-block information__rank ">
                        <div class="d-flex justify-content-center align-self-center">
                            <a class="d-flex align-self-center me-4 pe-2" style="@(IsUsedForAdmin ? "font-size: 32px" : "")">
                                #@Org?.Rank @*There will be processing code in another place*@
                            </a>
                            <div class="text-start">
                                <p class="mb-2 d-flex justify-content-evenly align-self-end">
                                    <span class="information__rank-number" style="@(IsUsedForAdmin ? "font-size: 20px" : "")">@Org?.AverageRating</span>
                                    <i class="material-icons-outlined" style="color:@(Org.AverageRating > 0 ? "#EDF131" : "#B4B4B4"); @(IsUsedForAdmin ? "font-size: 32px" : "")">
                                        star@(HaftStar(Org.AverageRating,0)?"_half":"")
                                    </i>
                                    <i class="material-icons-outlined" style="color:@(Org.AverageRating > 1 ? "#EDF131" : "#B4B4B4"); @(IsUsedForAdmin ? "font-size: 32px" : "")">
                                        star@(HaftStar(Org.AverageRating,1)?"_half":"")
                                    </i>
                                    <i class="material-icons-outlined" style="color:@(Org.AverageRating > 2 ? "#EDF131" : "#B4B4B4"); @(IsUsedForAdmin ? "font-size: 32px" : "")">
                                        star@(HaftStar(Org.AverageRating, 2)?"_half":"")
                                    </i>
                                    <i class="material-icons-outlined" style="color:@(Org.AverageRating > 3 ? "#EDF131" : "#B4B4B4"); @(IsUsedForAdmin ? "font-size: 32px" : "")">
                                        star@(HaftStar(Org.AverageRating, 3)?"_half":"")
                                    </i>
                                    <i class="material-icons-outlined" style="color:@(Org.AverageRating > 4 ? "#EDF131" : "#B4B4B4"); @(IsUsedForAdmin ? "font-size: 32px" : "")">
                                        star@(HaftStar(Org.AverageRating, 4)?"_half":"")
                                    </i>
                                </p>
                                <span style="@(IsUsedForAdmin ? "font-size: 18px" : "")">@Org.QuantityRating xếp hạng</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-right information__contact mb-3 mb-md-0 mt-1 mt-md-0">
                        <p class="d-flex align-self-center">
                            <i class="material-icons">
                                email
                            </i>
                            <a href="mailto:@Org?.NotifiedEmail">@Org?.NotifiedEmail</a>
                        </p>
                        @if (!string.IsNullOrEmpty(Org?.PhoneNumber))
                        {
                            <p class="d-flex align-self-center mb-0">
                                <i class="material-icons">
                                    contact_phone
                                </i>
                                <a href="tel:@Org?.PhoneNumber">@Org?.PhoneNumber</a>
                            </p>
                        }
                    </div>

                </div>
                <div class="information__line d-none d-md-block"></div>
                <div class="row-2 d-flex align-items-start">
                    <div class="col-left information__fields">
                        <h3 class="mb-4 pb-2 d-none d-md-block" style="@(IsUsedForAdmin ? "font-size: 20px" : "")">Lĩnh vực <span>chuyên môn</span></h3>
                        <div class=" @(Org.Areas.Count>3 ? "owl-carousel owl-theme information__carousel" : "d-flex justify-content-center information__NoCarousel px-0 ") ">
                            @if (Org != null)
                            {
                                @foreach (var area in Org.Areas)
                                {
                                    <div class="item @(Org.Areas.Count >3 ?"" :"mx-3")">
                                        <i class="material-icons" style="background-color: @area.Color">@area.Icon</i>
                                        <span class="d-none d-xl-block" style="color: @(area.IsPinned ? area.Color : "#64D72F")">@area.Name</span>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="line mx-2"></div>
                    <div class="col-right information__act px-0">
                        <h3 class="d-none d-md-block mb-4 pb-2" style="@(IsUsedForAdmin ? "font-size: 20px" : "")">Số hoạt động <span>đã tạo</span></h3>
                        <div class="d-flex justify-content-evenly align-self-center">
                            <span class="information__act-number" style="@(IsUsedForAdmin ? "width:80px; height:80px;line-height:80px;font-size:30px;" : "")">@Org?.Activities.Count</span>
                        </div>
                        @if (HaveControl)
                        {
                            <div class="d-none d-md-block">
                                <a href="@Routes.CreateActivity" class="information__act-button mx-auto mt-4 d-flex align-items-center justify-content-center">
                                    <i class="material-icons-outlined">add</i>
                                    <span class="ms-2">Tạo hoạt động</span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 d-block d-md-none">
                @if (HaveControl)
                {
                    <a href="@Routes.CreateActivity" class="information__act-button mx-auto mt-4 d-flex align-items-center justify-content-center">
                        <i class="material-icons-outlined">add</i>
                        <span class="ms-2">Tạo hoạt động</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntinme.InvokeVoidAsync("vms.InformationCarousel");
        }
    }

    private string appellation = "Tổ chức hoàn hảo";

    private async Task ShowModalAppellation()
    {
        var result = await Modal.Show<Appellation>("", BlazoredModalOptions.GetModalOptions()).Result;
        if (!string.IsNullOrEmpty(Convert.ToString(result.Data)))
        {
            appellation = Convert.ToString(result.Data);
        }

    }

}