<div class="me-2 filter-item filter-item-city position-relative">
    <input @onclick="() => ToggleCityDropdown()" @onfocusout="() => ToggleCityDropdown(true)" class="form-control popup-btn" placeholder="@cityChoosenValue" readonly />
    <div @onclick:preventDefault class="my-dropdown" style="display: @(isCityShow ? "block" : "none")">
        <ul>
            @foreach (var province in provinces)
            {
                <li @onmousedown="() => ChooseCityValue(province)" class="@(string.Equals(province.Name, cityChoosenValue) ? "item-checked" : "")">@province.Name</li>
            }
        </ul>
    </div>
    <span class="material-icons-outlined position-absolute filter-item__icon">
        expand_more
    </span>
</div>
<div class="me-2 filter-item filter-item-district position-relative">
    <input @onclick="() => ToggleDistrictDropdown()" @onfocusout="() => ToggleDistrictDropdown(true)" class="form-control popup-btn" placeholder="@districtChoosenValue" readonly />
    <div class="my-dropdown" style="display: @(isDistrictShow ? "block" : "none")">
        <ul>
            @foreach (var district in districts)
            {
                <li @onmousedown="() => ChooseDistrictValue(district)" class="@(string.Equals(district.Name, districtChoosenValue) ? "item-checked" : "")">@district.Name</li>
            }
        </ul>
    </div>
    <span class="material-icons-outlined position-absolute filter-item__icon">
        expand_more
    </span>
</div>
<div class="me-2 filter-item filter-item-district position-relative">
    <input @onclick="() => ToggleWardDropdown()" @onfocusout="() => ToggleWardDropdown(true)" class="form-control popup-btn" placeholder="@wardChoosenValue" readonly />
    <div class="my-dropdown" style="display: @(isWardShow ? "block" : "none")">
        <ul>
            @foreach (var ward in wards)
            {
                <li @onmousedown="() => ChooseWardValue(ward)" class="@(string.Equals(ward.Name, wardChoosenValue) ? "item-checked" : "")">@ward.Name</li>
            }
        </ul>
    </div>
    <span class="material-icons-outlined position-absolute filter-item__icon">
        expand_more
    </span>
</div>