@attribute [Route(Routes.CreateActivity)]
@attribute [Route(Routes.EditActivity + "/{activityId:int}")]

@attribute [Authorize]

<Title>GoVirlunteer - @(isEditPage ? "Sửa" : "Tạo") hoạt động</Title>

<div class="container-fluid">
    <div class="row">
        <EditForm Model="activity" OnValidSubmit="HandleSubmit" OnInvalidSubmit="HandleInvalidSubmit" class="col-11 col-xl-9 mx-auto">
            <DataAnnotationsValidator />
            @if (isErrorMessageShown)
            {
                <div class="text-center error-message">Bạn cần điền tất cả thông tin dưới đây để @(isEditPage ? "sửa" : "tạo") hoạt động</div>
            }

            <h1 class="text-center my-4 title"><span>@(isEditPage ? "Sửa" : "Tạo")</span> hoạt động</h1>
            <div class="form-group mb-3">
                <div class="mb-2">Tiêu đề <span class="required-asterick">(*)</span></div>
                <InputText @bind-Value="activity.Name" class="form-control" placeholder="Nhập tiêu đề" />
            </div>
            <div class="form-group mb-3">
                <div class="mb-2">Mô tả <span class="required-asterick">(*)</span></div>
                <TinyMCEEditor @bind-Value="activity.Description" />
            </div>
            <div class="form-group mb-3">
                <div class="row my-activity-type-group">
                    <div class="col-3 align-self-center">Hình thức <span class="required-asterick">(*)</span></div>
                    <div class="col-9 my-auto">
                        <InputCheckbox @bind-Value="activity.IsVirtual" class="my-radio-box cursor-pointer" id="virtual" />
                        <label class="cursor-pointer" for="virtual">Virtual</label>
                        <InputCheckbox @bind-Value="activity.IsActual" class="my-radio-box cursor-pointer ms-5" id="actual" />
                        <label class="cursor-pointer" for="actual">Actual</label>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row my-form-group">
                    <div class="col-3 align-self-center">Đối tượng tham gia <span class="required-asterick">(*)</span></div>
                    <div class="col-9">
                        <Typeahead SearchMethod="SearchTargets"
                                   PlaceHolderText="Lựa chọn đối tượng tham gia"
                                   @bind-Values="chosenTargets"
                                   EnableDropDown="true"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target
                            </ResultTemplate>
                        </Typeahead>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row my-activity-type-group">
                    <div class="col-3 align-self-center">Lĩnh vực <span class="required-asterick">(*)</span></div>
                    <div class="col-9 d-flex flex-wrap just">
                        @foreach (var item in choosenAreas)
                        {
                            <div class="item me-5">
                                <i class="material-icons">
                                    @item.Icon
                                </i>
                                <span>@item.Name</span>
                            </div>
                        }
                        <div class="item">
                            <i class="material-icons-outlined add-icon" @onclick="ShowAreasPopupAsync">
                                add
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row my-form-group">
                    <div class="col-3 align-self-center">Địa điểm tham gia <span class="required-asterick">(*)</span></div>
                    <div class="col-9 d-flex flex-row flex-wrap flex-xl-nowrap">
                        <CascadingAddressPicker DistrictId="activity.DistrictId"
                                                District="@activity.District"
                                                ProvinceId="activity.ProvinceId"
                                                Province="@activity.Province"
                                                WardId="activity.WardId"
                                                Ward="@activity.Ward"
                                                OnAddressChanged="OnAddressChanged" />
                        <InputText @bind-Value="activity.Address" class="form-control ms-xl-2 my-address-textbox" placeholder="Nhập số nhà, tên đường" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row my-form-group">
                    <div class="col-3 align-self-center">Thời gian diễn ra <span class="required-asterick">(*)</span></div>
                    <div class="col-9 d-flex flex-row align-items-center">
                        Từ <InputDate @bind-Value="activity.StartDate" @oninput="OnStartDateChanged" class="form-control ms-2 me-4 my-date-picker" placeholder="Ngày bắt đầu" />
                        Đến <InputDate @bind-Value="activity.EndDate" @oninput="OnEndDateChanged" class="form-control ms-2 my-date-picker" placeholder="Ngày kết thúc" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="row my-form-group">
                    <div class="col-3 align-self-center">Kỹ năng <span class="required-asterick">(*)</span></div>
                    <div class="col-9 position-relative">
                        <Typeahead SearchMethod="SearchSkills"
                                   PlaceHolderText="Lựa chọn kỹ năng"
                                   @bind-Values="activity.Skills"
                                   EnablePopup="true"
                                   ShowPopUp="ShowSkillsPopup"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target.Name
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target.Name
                            </ResultTemplate>
                        </Typeahead>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="mb-2">Yêu cầu <span class="required-asterick">(*)</span></div>
                <TinyMCEEditor @bind-Value="activity.Requirement" />
            </div>
            <div class="form-group mb-3">
                <div class="mb-2">Sứ mệnh <span class="required-asterick">(*)</span></div>
                <TinyMCEEditor @bind-Value="activity.Mission" />
            </div>
            <div class="form-group mb-3">
                <div class="mb-2">Các nhiệm vụ tình nguyện sẽ tham gia <span class="required-asterick">(*)</span></div>
                <TinyMCEEditor @bind-Value="activity.Commission" />
            </div>
            <div class="form-group mb-4">
                <div class="mb-2">Thêm ảnh <span class="required-asterick">(*)</span></div>
                <UploadImg InputFileChanged="HandleFileChanged"
                           ImageDiscarded="HandleImageDiscarded"
                           PreviewImgSrc="@activity.Banner"
                           ShowPreview="true" />
            </div>
            <div class="d-flex justify-content-center ">
                <a @onclick="HandleCancel" class="me-5 btn btn-cancel">Thoát</a>
                <button type="submit" class="btn btn-save">Lưu thay đổi</button>
            </div>
        </EditForm>
    </div>
    <SubFooter />
</div>

<Spinner IsLoading="isLoading" />

@code
{
    RenderFragment succeededCreateTitle = @<h3>Bạn đã <span>tạo hoạt động</span> thành công!</h3>;
    
    RenderFragment succeededEditTitle = @<h3>Bạn đã <span>sửa hoạt động</span> thành công!</h3>;
    
    RenderFragment cancelTitle = @<h3>Bạn có chắc chắn muốn <span>thoát hành động</span> này không?</h3>;
}