@attribute [Route(Routes.CreateActivity)]

<div class="container-fluid mb-2">
    <div class="row">
        <EditForm Model="activity" class="col-11 col-xl-9 mx-auto mt-2">
            <ValidationSummary />
            <h1 class="text-center"><span>Tạo</span> hoạt động</h1>
            <div class="form-group mb-5">
                <div>Tiêu đề (*)</div>
                <InputText @bind-Value="activity.Name" class="form-control" placeholder="Nhập tiêu đề" />
            </div>
            <div class="form-group mb-5">
                <div>Mô tả (*)</div>
                <TinyMCEEditor @bind-Value="activity.Description" />
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Hình thức (*)</div>
                    <div class="col-9">
                        <InputRadioGroup @bind-Value="activity.IsVirtual">
                            <InputRadio Value="true" /> Virtual
                            <InputRadio Value="false" class="ms-5" /> Actual
                        </InputRadioGroup>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Đối tượng tham gia (*)</div>
                    <div class="col-9">
                        <Typeahead SearchMethod="SearchTargets"
                                   PlaceHolderText="Lựa chọn đối tượng tham gia"
                                   @bind-Values="activity.Targets"
                                   EnableDropDown="true"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target
                            </ResultTemplate>
                        </Typeahead>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Lĩnh vực (*)</div>
                    <div class="col-9 d-flex">
                        <div class="item me-5">
                            <i class="material-icons">
                                home
                            </i>
                            <span>lĩnh vực 1</span>
                        </div>
                        <div class="item">
                            <i class="material-icons" @onclick="ShowAreasPopupAsync">
                                plus
                            </i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Địa điểm tham gia (*)</div>
                    <div class="col-9 d-flex flex-row flex-wrap flex-xl-nowrap">
                        <div class="me-2 filter-item filter-item-city position-relative">
                            <input @onclick="ToggleCityDropdown" @onfocusout="CloseCityDropdown" class="popup-btn @(activity.ProvinceId != 0 ? "bg-grey" : "")" placeholder="@cityChoosenValue" readonly />
                            <div @onclick:preventDefault class="my-dropdown" style="display: @(isCityShow ? "block" : "none")">
                                <ul>
                                    @if (provinces is not null)
                                    {
                                        @foreach (var province in provinces)
                                        {
                                            <li @onmousedown="() => ChooseCityValue(province)">@province.Name</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <div class="me-2 filter-item filter-item-district position-relative">
                            <input @onclick="ToggleDistrictDropdown" @onfocusout="CloseDistrictDropdown" class="popup-btn @(activity.DistrictId != 0 ? "bg-grey" : "")" placeholder="@districtChoosenValue" readonly />
                            <div class="my-dropdown" style="display: @(isDistrictShow ? "block" : "none")">
                                <ul>
                                    @if (districts is not null)
                                    {
                                        @foreach (var district in districts)
                                        {
                                            <li @onmousedown="() => ChooseDistrictValue(district)">@district.Name</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <div class="me-2 filter-item filter-item-district position-relative">
                            <input @onclick="ToggleWardDropdown" @onfocusout="CloseWardDropdown" class="popup-btn @(activity.WardId != 0 ? "bg-grey" : "")" placeholder="@wardChoosenValue" readonly />
                            <div class="my-dropdown" style="display: @(isWardShow ? "block" : "none")">
                                <ul>
                                    @if (wards is not null)
                                    {
                                        @foreach (var ward in wards)
                                        {
                                            <li @onmousedown="() => ChooseWardValue(ward)">@ward.Name</li>
                                        }
                                    }
                                </ul>
                            </div>
                            <span class="material-icons-outlined position-absolute filter-item__icon">
                                expand_more
                            </span>
                        </div>
                        <InputText @bind-Value="activity.Address" class="form-control mt-2 mt-xl-0" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Thời gian tham gia (*)</div>
                    <div class="col-9 d-flex flex-row">
                        <InputDate @bind-Value="activity.StartDate" @oninput="OnStartDateChanged" class="form-control" style="width: 35%;" placeholder="Ngày bắt đầu" />
                        <InputDate @bind-Value="activity.EndDate" @oninput="OnEndDateChanged" class="form-control ms-2" style="width: 35%;" placeholder="Ngày kết thúc" />
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="row">
                    <div class="col-3 align-self-center">Kỹ năng (*)</div>
                    <div class="col-9 position-relative">
                        <Typeahead SearchMethod="SearchSkills"
                                   PlaceHolderText="Lựa chọn kỹ năng"
                                   @bind-Values="activity.Skills"
                                   class="col-5">
                            <SelectedTemplate Context="target">
                                @target.Name
                            </SelectedTemplate>
                            <ResultTemplate Context="target">
                                @target.Name
                            </ResultTemplate>
                        </Typeahead>
                        <div @onclick="ShowSkillsPopup" class="blazored-typeahead__input-icon blazored-typeahead__input-icon--disabled position-absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="align-self-center blazored-typeahead__down-arrow">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                    <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) " />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div>Yêu cầu (*)</div>
                <TinyMCEEditor @bind-Value="activity.Requirement" />
            </div>
            <div class="form-group mb-5">
                <div>Sứ mệnh (*)</div>
                <TinyMCEEditor @bind-Value="activity.Mission" />
            </div>
            <div class="form-group mb-5">
                <div>Các nhiệm vụ tình nguyện sẽ tham gia (*)</div>
                <TinyMCEEditor @bind-Value="activity.Mission" />
            </div>
            <div class="form-group mb-5">
                <div>Thêm ảnh (*)</div>
                <div class="add-file">
                    <div class="add-file__block">
                        <input type="file" name="file" id="file" class="inputfile" />
                        <label for="file">
                            <span class="block-icon-text">
                                <span class="align-self-center material-icons my-icon-upload">cloud_upload</span>
                                <span class="align-self-center file__text">Kéo và thả hình ảnh liên quan tại đây</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
}