<div class="pop-up">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
        <div class="pop-up-container pop-up-container--large position-relative border-10 d-flex align-items-center flex-column @(isSuccess ? "d-block" : "d-none")">
            <div @onclick="CloseModalAsync" class="close-btn position-absolute d-flex justify-content-center align-items-center">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up__title text-center pt-4 pb-2">
                <h3 class="fw-medium mb-0">Hoạt động ưu tiên <span> đã đạt giới hạn</span></h3>
            </div>
            <div class="pop-up__subtitle text-center mb-4">
                <h4 class="fw-medium lh-1">
                    Vui lòng gỡ ưu tiên ít nhất một hoạt động
                </h4>
                <h4 class="fw-medium lh-1">
                    để tiếp tục thao tác này
                </h4>
            </div>
            @foreach (var item in ListPinned)
            {
                <div class="d-flex justify-content-center align-items-center w-75 pb-3">
                    <input type="checkbox" @bind="item.IsPin" class="d-flex justify-content-center align-items-center me-4 flex-shrink-0">
                    <label for="md">
                        <div class="pop-up__act p-2">
                            <div class="pop-up__act__title px-1 pt-1 lm-text">
                                <a href="@Routes.AdminActivityInfo/@item.Id">
                                    @item.Name
                                </a>
                            </div>
                            <div class="d-flex justify-content-between mt-1">
                                <h5 class="pop-up__act__org d-flex align-items-center mb-0">
                                    <a href="@Routes.AdminOrganizationProfile/@item.OrgId" class="d-flex justify-content-center align-items-center">
                                        <i class="material-icons me-1">public</i> 
                                        <p>@item.Organizer.FullName</p>
                                    </a>
                                </h5>
                                <h5 class="fw-normal mb-0">Ngày đăng: @item.CreatedDate.ToString("dd/MM/yyyy")</h5>
                            </div>
                        </div>
                    </label>
                </div>
            }
            <div class="pop-up__btn d-flex mb-3">
                <div @onclick="CloseModalAsync" class="btn py-0 px-3 d-flex justify-content-center align-items-center pop-up__btn pop-up__btn--deny">Hủy</div>
                <div @onclick="SuccessAsync" class="btn py-0 px-2 pop-up__btn--accept d-flex justify-content-center align-items-center pop-up__btn">Gỡ ưu tiên</div>
            </div>

        </div>
        <div class="pop-up-container pop-up-container--small position-relative border-10 d-flex align-items-center flex-column @(isSuccess ? "d-none" : "d-block")">
            <div @onclick="CloseModalAsync" class="close-btn-s position-absolute d-flex justify-content-center align-items-center">
                <span class="material-icons">
                    close
                </span>
            </div>
            <div class="pop-up-content text-center my-4 mx-5">
                <h3 class="mb-0 fw-medium">Bạn đã <span> gỡ ưu tiên hoạt động</span></h3>
                <h3 class="mb-0 fw-medium">thành công</h3>
            </div>
        </div>
    </div>
</div>

@code {

}