@using VMS.Application.ViewModels

<div class="overlay">
    <div class="popup-comment">
        <div class="popup-comment_icon">
            <span @onclick="@CloseModal" class="material-icons">
                close
            </span>
        </div>
        <div class="popup-comment_member">
            <div class="name">
                <div class="popup-avatar">
                    <img src="@Member.Avatar" alt="avatar">
                </div>
                <div class="popup-member">
                    <p class="popup-member1">@Member.FullName</p>
                    <div class="popup-member2">
                        <VMS.Shared.Components.Star Rating=@userRating />
                    </div>
                </div>
            </div>

            @if (commentModal.MemberComment is not null)
            {
                <div class="comment mb-5">
                    <p class="comment-input">@commentModal.MemberComment</p>
                </div>
                <div class="button">
                    <button class="button-showremind d-none" style="color: @ColorRemind">Số lần nhắc nhở: @Count lần</button>
                    <button @onclick="@Remind" class="button-remind d-none">
                        <span class="material-icons-outlined">notifications</span>
                        Nhắc nhở nhận xét
                    </button>
                </div>
            }

            @if (commentModal.MemberComment is null)
            {
                <div class="comment">
                    <p class="comment-input">@commentModal.CommentDefault</p>
                </div>
                <div class="button">
                    <button class="button-showremind" style="color: @ColorRemind">Số lần nhắc nhở: @Count lần</button>
                    <button @onclick="@Remind" class="button-remind">
                        <span class="material-icons-outlined">notifications</span>
                        Nhắc nhở nhận xét
                    </button>
                </div>
            }

        </div>
        <div class="popup-comment_organization">
            <div class="name">
                <div class="popup-avatar">
                    <img src="@Organizer.Avatar" alt="avatar">
                </div>
                <div class="popup-member">
                    <p class="popup-member1">@Organizer.FullName</p>
                    <div class="popup-member2">
                        <VMS.Shared.Components.Star Rating=@OrgRating />
                    </div>
                </div>
            </div>
            @if (commentModal.OrganizationComment == "Send")
            {
                <EditForm Model="@commentModal" OnInvalidSubmit="@Send">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="comment">
                        <InputTextArea @bind-Value="@commentModal.Comment1" class="comment-input" placeholder="@commentModal.CommentDefault" rows="3" @onchange="@(e => { @commentModal.Comment1 = e.Value.ToString(); })"></InputTextArea>
                    </div>
                    <div class="button">
                        <button @onclick="@Send" class="button-send">Gửi nhận xét</button>
                    </div>
                </EditForm>
            }

            @if (commentModal.OrganizationComment == "Modify")
            {
                <EditForm Model="@commentModal" OnInvalidSubmit="@Modify">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="comment">
                        <InputTextArea @bind-Value="@commentModal.Comment1" class="comment-input" rows="3" readonly></InputTextArea>
                    </div>
                    <div class="button">
                        <button @onclick="@Modify" class="button-modify">Sửa</button>
                    </div>
                </EditForm>
            }

            @if (commentModal.OrganizationComment == "Save")
            {
                <EditForm Model="@commentModal" OnInvalidSubmit="@Save">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="comment">
                        <InputTextArea @bind-Value="@commentModal.Comment1" class="comment-input" rows="3" @onchange="@(e => { @commentModal.Comment1 = e.Value.ToString(); })"></InputTextArea>
                    </div>
                    <div class="button">
                        <button @onclick="@Cancel" class="button-cancel">Hủy</button>
                        <button @onclick="@Save" class="button-save">Lưu</button>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>

@code {

    Rating commentModal;
    protected override void OnInitialized()
    {
        commentModal = new Rating();
    }

    int Count = 0;
    string ColorRemind;

    private void Remind()
    {
        Count = Count + 1;
        ColorRemind = "#E10B0B";
    }

    private void Send()
    {
        commentModal.OrganizationComment = "Modify";
    }

    private void Modify()
    {
        commentModal.Comment2 = commentModal.Comment1;
        commentModal.OrganizationComment = "Save";
    }

    private void Save()
    {
        commentModal.OrganizationComment = "Modify";
    }

    private void Cancel()
    {
        commentModal.Comment1 = commentModal.Comment2;
        commentModal.OrganizationComment = "Modify";
    }

    [CascadingParameter]
    private BlazoredModalInstance CommentModal { get; set; }
    void CloseModal()
    {
        CommentModal.CloseAsync();
    }
}
