<div class="member-star">
    <button @onclick="@ChangeColor1" class="member-star1"><span style="color: @color1;" id="member-star1" class="material-icons">star_rate</span></button>
    <button @onclick="@ChangeColor2" class="member-star2"><span style="color: @color2;" id="member-star2" class="material-icons">star_rate</span></button>
    <button @onclick="@ChangeColor3" class="member-star3"><span style="color: @color3;" id="member-star3" class="material-icons">star_rate</span></button>
    <button @onclick="@ChangeColor4" class="member-star4"><span style="color: @color4;" id="member-star4" class="material-icons">star_rate</span></button>
    <button @onclick="@ChangeColor5" class="member-star5"><span style="color: @color5;" id="member-star5" class="material-icons">star_rate</span></button>
    <div class="member-star_tooltip">Một sao là 20% số điểm của mình đó...</div>
</div>

@code {
    string color1 = "#C4C4C4";
    string color2 = "#C4C4C4";
    string color3 = "#C4C4C4";
    string color4 = "#C4C4C4";
    string color5 = "#C4C4C4";

    private void ChangeColor1()
    {
        if(color1 == "#C4C4C4")
        {
            color1 = "#EDF131";
        }
        else
        {
            color1 = "#C4C4C4";
        }
    }

    private void ChangeColor2()
    {
        if (color2 == "#C4C4C4")
        {
            color1 = "#EDF131";
            color2 = "#EDF131";
        }
        else
        {
            color1 = "#C4C4C4";
            color2 = "#C4C4C4";
            color3 = "#C4C4C4";
            color4 = "#C4C4C4";
            color5 = "#C4C4C4";
        }
    }

    private void ChangeColor3()
    {
        if (color3 == "#C4C4C4")
        {
            color1 = "#EDF131";
            color2 = "#EDF131";
            color3 = "#EDF131";
        }
        else
        {
            color1 = "#C4C4C4";
            color2 = "#C4C4C4";
            color3 = "#C4C4C4";
            color4 = "#C4C4C4";
            color5 = "#C4C4C4";
        }
    }

    private void ChangeColor4()
    {
        if (color4 == "#C4C4C4")
        {
            color1 = "#EDF131";
            color2 = "#EDF131";
            color3 = "#EDF131";
            color4 = "#EDF131";
        }
        else
        {
            color1 = "#C4C4C4";
            color2 = "#C4C4C4";
            color3 = "#C4C4C4";
            color4 = "#C4C4C4";
            color5 = "#C4C4C4";
        }
    }

    private void ChangeColor5()
    {
        if (color5 == "#C4C4C4")
        {
            color1 = "#EDF131";
            color2 = "#EDF131";
            color3 = "#EDF131";
            color4 = "#EDF131";
            color5 = "#EDF131";
        }
        else
        {
            color1 = "#C4C4C4";
            color2 = "#C4C4C4";
            color3 = "#C4C4C4";
            color4 = "#C4C4C4";
            color5 = "#C4C4C4";
        }
    }
}
